@import '../../../../node_modules/@getninjas/niten-tokens/build/web/niten-tokens';
@import '../../../shared/settings/grid';


.footer {
  background-color: $color-interface-shade-light;
  height: auto;
  order: 9;
  padding: 0;

//Used just in Storybook context
  &__container {
    max-width: 1200px;
  }

  &__box {
    padding: $size-spacing-xl $size-spacing-xs 0;
  }

  &__block {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 0 $size-spacing-xxxs $size-spacing-l;

    @media screen and (min-width: $media-large) {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__content {
    @media screen and (min-width: $media-medium) {
      display: flex;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $media-medium) {
      flex-direction: row;
    }

    &-press{
      @media screen and (min-width: $media-large) {
        margin-left: $size-spacing-s;
      }
    }
  }

  &__foundation {
    border-top: $size-border-width-thin $border-style-default $color-interface-shade-dark;
    padding: $size-spacing-m 0;
    display: block;
    text-align: center;

    .footer__image {
      width: 125px;
    }

    &-tools {
      display: flex;
      justify-content: space-around;
    }

    @media screen and (min-width: $media-medium) {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    @media screen and (min-width: $media-large) {
      flex-direction: row;
      margin-top: $size-spacing-l;
      padding: $size-spacing-s $size-spacing-xs;
    }
  }

  &__element {
    margin-bottom: $size-spacing-s;

    @media screen and (min-width: $media-medium) {
      margin-bottom: 0;
    }
  }

  &__channels {
    display: flex;
    text-transform: uppercase;
    padding: 0;

    .footer__item {
      margin-right: 16px;
      list-style: none;

      a {
        text-transform: uppercase;
        text-decoration: none;
        color: $color-brand-first-extra-dark;
      }
    }
  }

  &__country {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
      margin: 0 $size-spacing-xxs;
    }

    a {
      text-transform: uppercase;
      text-decoration: none;
      color: $color-brand-first-extra-dark;
    }
  }
}

.copyright {
  background-color: $color-interface-shade-medium;
  order: 10;
  padding: $size-spacing-xxxs $size-spacing-xs;
  text-align: center;

  @media screen and (min-width: $media-normal) {
    margin-bottom: 97px;
  }
}
