/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.page-banner.css Page Banner
  *
  * @demo demo/gaiden-css/components/page-banner/demo.html
**/

.page-banner {
  @include media(small) {
    height: 576px;
  }
  display: flex;
  flex-direction: row;
  height: 430px;
  position: relative;
  width: 100%;

  &__content {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 30px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 2;

    [class*='-title'] {
      color: get-color(air);
    }
  }

  &__picture {
    height: 100%;
    position: absolute;
    width: 100%;

    img {
      height: auto;
    }
  }

  &--over {
    .page-banner__content {
      @include media(medium) {
        padding-bottom: $page-over-medium + px;
      }

      padding-bottom: $page-over-small + px;
    }
  }

  + .page-banner-over {
    @include media(medium) {
      margin-top: - $page-over-medium + px;
    }

    margin-top: - $page-over-small + px;
  }
}
