/**
  * @parent gaiden_css.settings
  * @stylesheet gaiden_css.settings.colors.css Colors
  *
  * There are different colors that can be used:
  * @iframe /docs/demo/gaiden-css/variables/colors/demo.html 360
**/
/**
*  @parent gaiden_css.configs
*  @typedef {{}} gaiden_css.configs.color_config ColorConfig
*  @option {String} color Name of color key at `Palette Map`
*  @option {String} key Name of color key modifier at `Palette Map`
*  @option {Number} opacity Alpha number for color rgba method
*  @option {Map} palette Define color palette map
*
*  @body
*    ## Using
*       $colorConfig: (
*         color: punch,
*         opacity: .8,
*         key: darker,
*         palette: (punch: (base: #1393f6))
*       );
**/
/**
  * @styles gradients Gradients
  *
  * An some gradients defined
  *
  * @iframe /docs/demo/gaiden-css/variables/colors/gradients/demo.html 260
**/
@import url("//fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i");
/* line 7, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/base.scss */
body {
  padding: 20px; }
  /* line 9, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/base.scss */
  body.reversed {
    background-color: #1393f6; }

/* line 14, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/base.scss */
* {
  box-sizing: border-box;
  font-family: "Lato", "Arial", sans-serif; }

/* line 19, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/base.scss */
ul.colors,
ul.gradients {
  font-size: 14px;
  margin: 0;
  padding: 0; }
  /* line 25, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/base.scss */
  ul.colors li,
  ul.gradients li {
    display: inline-block;
    width: 31%;
    padding: .75%; }
    /* line 30, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/base.scss */
    ul.colors li::after, ul.colors li::before,
    ul.gradients li::after,
    ul.gradients li::before {
      width: 100%;
      display: block; }
    /* line 35, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/base.scss */
    ul.colors li::before,
    ul.gradients li::before {
      height: 50px;
      content: "";
      margin: 0 auto 5px;
      border-radius: 4px; }
