/**
  * @parent gaiden_css.settings
  * @stylesheet gaiden_css.settings.colors.css Colors
  *
  * There are different colors that can be used:
  * @iframe /docs/demo/gaiden-css/variables/colors/demo.html 360
**/
/**
*  @parent gaiden_css.configs
*  @typedef {{}} gaiden_css.configs.color_config ColorConfig
*  @option {String} color Name of color key at `Palette Map`
*  @option {String} key Name of color key modifier at `Palette Map`
*  @option {Number} opacity Alpha number for color rgba method
*  @option {Map} palette Define color palette map
*
*  @body
*    ## Using
*       $colorConfig: (
*         color: punch,
*         opacity: .8,
*         key: darker,
*         palette: (punch: (base: #1393f6))
*       );
**/
/**
  * @styles gradients Gradients
  *
  * An some gradients defined
  *
  * @iframe /docs/demo/gaiden-css/variables/colors/gradients/demo.html 260
**/
/* line 6, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/mixins/_generate_color_palette_classes.scss */
.air::before {
  background-color: #fff;
  border: solid 1px #ccc; }

/* line 11, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/mixins/_generate_color_palette_classes.scss */
.air::after {
  content: "@air/#fff"; }

/* line 6, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/mixins/_generate_color_palette_classes.scss */
.blackNeutral::before {
  background-color: #333;
  border: solid 1px #ccc; }

/* line 11, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/mixins/_generate_color_palette_classes.scss */
.blackNeutral::after {
  content: "@blackNeutral/#333"; }

/* line 6, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/mixins/_generate_color_palette_classes.scss */
.breeze::before {
  background-color: #eff4fa;
  border: solid 1px #ccc; }

/* line 11, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/mixins/_generate_color_palette_classes.scss */
.breeze::after {
  content: "@breeze/#eff4fa"; }

/* line 6, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/mixins/_generate_color_palette_classes.scss */
.punch::before {
  background-color: #1393f6;
  border: solid 1px #ccc; }

/* line 11, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/mixins/_generate_color_palette_classes.scss */
.punch::after {
  content: "@punch/#1393f6"; }

/* line 6, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/mixins/_generate_color_palette_classes.scss */
.serious::before {
  background-color: #1272d5;
  border: solid 1px #ccc; }

/* line 11, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/mixins/_generate_color_palette_classes.scss */
.serious::after {
  content: "@serious/#1272d5"; }

/* line 6, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/mixins/_generate_color_palette_classes.scss */
.warning::before {
  background-color: #ffd600;
  border: solid 1px #ccc; }

/* line 11, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/mixins/_generate_color_palette_classes.scss */
.warning::after {
  content: "@warning/#ffd600"; }

/* line 6, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/mixins/_generate_color_palette_classes.scss */
.reward::before {
  background-color: #40d879;
  border: solid 1px #ccc; }

/* line 11, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/mixins/_generate_color_palette_classes.scss */
.reward::after {
  content: "@reward/#40d879"; }

/* line 6, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/mixins/_generate_color_palette_classes.scss */
.rewardType::before {
  background-color: #2abf62;
  border: solid 1px #ccc; }

/* line 11, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/mixins/_generate_color_palette_classes.scss */
.rewardType::after {
  content: "@rewardType/#2abf62"; }

/* line 6, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/mixins/_generate_color_palette_classes.scss */
.bloody::before {
  background-color: #b24141;
  border: solid 1px #ccc; }

/* line 11, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/mixins/_generate_color_palette_classes.scss */
.bloody::after {
  content: "@bloody/#b24141"; }

/* line 6, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/mixins/_generate_color_palette_classes.scss */
.rastaGray::before {
  background-color: #536e7b;
  border: solid 1px #ccc; }

/* line 11, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/mixins/_generate_color_palette_classes.scss */
.rastaGray::after {
  content: "@rastaGray/#536e7b"; }

/* line 6, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/mixins/_generate_color_palette_classes.scss */
.recusaGray::before {
  background-color: #e7e7e7;
  border: solid 1px #ccc; }

/* line 11, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/mixins/_generate_color_palette_classes.scss */
.recusaGray::after {
  content: "@recusaGray/#e7e7e7"; }

/* line 6, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/mixins/_generate_color_palette_classes.scss */
.offWhite::before {
  background-color: #eceff1;
  border: solid 1px #ccc; }

/* line 11, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/mixins/_generate_color_palette_classes.scss */
.offWhite::after {
  content: "@offWhite/#eceff1"; }

/* line 6, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/mixins/_generate_color_palette_classes.scss */
.sand::before {
  background-color: #e2d7ad;
  border: solid 1px #ccc; }

/* line 11, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/mixins/_generate_color_palette_classes.scss */
.sand::after {
  content: "@sand/#e2d7ad"; }

/* line 6, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/mixins/_generate_color_palette_classes.scss */
.wall::before {
  background-color: #f9f9f9;
  border: solid 1px #ccc; }

/* line 11, /Users/eduardomatos/projects/getninjas/gaidedocs/demo/gaiden-css/scss/mixins/_generate_color_palette_classes.scss */
.wall::after {
  content: "@wall/#f9f9f9"; }
