/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.brand.css Brand
  *
  * @demo ./docs/demo/gaiden-css/components/brand/demo.html
**/

.brand {
  @include flexbox;
  @include flex-direction(row);
  @include flex-shrink(0);

  color: get-color(air);

  .no-flexbox & {
    display: inline-block;
  }

  &__link {
    display: inline-block;
  }

  &__image {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 10px;
    vertical-align: top;

    .no-flexbox & {
      display: inline-block;
    }
  }

  &__name {
    display: inline-block;
    color: get-color(blackNeutral);
    font: {
      weight: 700;
      size: 20px;
    };
    letter-spacing: 1px;
    line-height: .8;
    margin-top: 2px;

    small {
      display: block;
      font: {
        size: 10px;
        weight: 700;
        style: normal;
      };
      margin-top: 4px;
      color: get-color(punch);
      text-transform: uppercase;
    }

    .no-flexbox & {
      display: inline-block;
    }
  }
}
