/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.buttons.css Buttons
**/

/**
  * @styles sizes Sizes
  *
  * @demo demo/gaiden-css/components/buttons/sizes/demo.html 262
**/

/**
  * @styles buttons_hc High Contrast
  *
  * @demo demo/gaiden-css/components/buttons/hc/demo.html
**/

/**
  * @styles buttons_raised Raised
  *
  * @demo demo/gaiden-css/components/buttons/raised/demo.html
**/

/**
  * @styles buttons_reversed_hc Reversed High Contrast
  *
  * @demo demo/gaiden-css/components/buttons/reversed/hc/demo.html
**/

/**
  * @styles buttons_reversed_outline Reversed Outline
  *
  * @demo demo/gaiden-css/components/buttons/reversed/outline/demo.html
**/

/**
  * @styles buttons_reversed_raised Reversed Raised
  *
  * @demo demo/gaiden-css/components/buttons/reversed/raised/demo.html
**/

/**
  * @styles buttons_fluid Fluid
  *
  * @demo demo/gaiden-css/components/buttons/fluid/demo.html
**/

/**
  * @styles buttons_greeny Greeny
  *
  * @demo demo/gaiden-css/components/buttons/greeny/default/demo.html
**/

/**
  * @styles buttons_greeny_raised Greeny Raised
  *
  * @demo demo/gaiden-css/components/buttons/greeny/raised/demo.html
**/

/**
  * @styles buttons_loading Loading
  *
  * @demo demo/gaiden-css/components/buttons/loading/demo.html
**/

.btn {
  display: inline-block;
  border-radius: $borderRadiusButton;
  font-weight: 400;
  text-align: center;
  border: 0;
  letter-spacing: .3px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  line-height: 1;
  transition: background-color .2s;
  transition-property: box-shadow, background-color;

  &[disabled] {
    opacity: .3;
  }

  &--fluid {
    display: block;
    width: 100%;
  }

  &--loading {
    background-color: get-color((color: rastaGray, opacity: .2));
    font-size: 0 !important;
    position: relative;
    transition: all .3s ease;

    &::before {
      animation: rotation 1s linear infinite;
      background-color: transparent;
      border-bottom: 3px solid get-color(air);
      border-left: 3px solid get-color(air);
      border-radius: 15px;
      border-right: 3px solid get-color(air);
      border-top: 3px solid transparent;
      box-sizing: border-box;
      content: '';
      height: 20px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform-origin: 0 0;
      width: 20px;
    }
  }

  @include generate-button-types;
  @include generate-button-sizes;
}
