/**
  * @parent gaiden_css.components
  * @stylesheet buttons.css Buttons
  *
  * Some description here
  *
*/

/**
  * @styles sizes Sizes
  *
  * Some description here
  * @demo ../../demo/components/buttons/sizes/demo.html 262
**/

/**
  * @styles buttons_hc High Contrast
  *
  * Some description here
  * @demo ../../demo/components/buttons/hc/demo.html
**/

/**
  * @styles buttons_mc Medium Contrast
  *
  * Some description here
  * @demo ../../demo/components/buttons/mc/demo.html
**/

/**
  * @styles buttons_raised Raised
  *
  * Some description here
  * @demo ../../demo/components/buttons/raised/demo.html
**/

/**
  * @styles buttons_outline Outline
  *
  * Some description here
  * @demo ../../demo/components/buttons/outline/demo.html
**/

/**
  * @styles buttons_lc Low Contrast
  *
  * Some description here
  * @demo ../../demo/components/buttons/lc/demo.html
**/

.btn {
  display: inline-block;
  border-radius: 8px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
  border: 0;
  letter-spacing: .3px;
  cursor: pointer;

  &--text {
    color: get-color(punch);
    font-size: 13px;
    font-weight: 700;
  }

  &[disabled] {
    opacity: .3;
  }

  @include generate-button-types;
  @include generate-button-sizes;
}
