/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.buttons.css Buttons
**/

/**
  * @styles sizes Sizes
  *
  * @demo demo/gaiden-css/components/buttons/sizes/demo.html 262
**/

/**
  * @styles buttons_hc High Contrast
  *
  * @demo demo/gaiden-css/components/buttons/hc/demo.html
**/

/**
  * @styles buttons_raised High Contrast Raised
  *
  * @demo demo/gaiden-css/components/buttons/raised/demo.html
**/

/**
  * @styles buttons_reversed_hc Reversed High Contrast
  *
  * @demo demo/gaiden-css/components/buttons/reversed/hc/demo.html
**/

/**
  * @styles buttons_reversed_outline Reversed Outline
  *
  * @demo demo/gaiden-css/components/buttons/reversed/outline/demo.html
**/

/**
  * @styles buttons_outline Outline
  *
  * @demo demo/gaiden-css/components/buttons/outline/demo.html
**/

/**
  * @styles buttons_outline_light Outline Light
  *
  * @demo demo/gaiden-css/components/buttons/outline/light/demo.html
**/

/**
  * @styles buttons_reversed_raised Reversed Raised
  *
  * @demo demo/gaiden-css/components/buttons/reversed/raised/demo.html
**/

/**
  * @styles buttons_fluid Fluid
  *
  * @demo demo/gaiden-css/components/buttons/fluid/demo.html
**/

/**
  * @styles buttons_greeny Greeny
  *
  * @demo demo/gaiden-css/components/buttons/greeny/default/demo.html
**/

/**
  * @styles buttons_greeny_raised Greeny Raised
  *
  * @demo demo/gaiden-css/components/buttons/greeny/raised/demo.html
**/

/**
  * @styles buttons_full_card Full Card
  *
  * @demo demo/gaiden-css/components/buttons/fullcard/default/demo.html
**/

/**
  * @styles buttons_loading Loading
  *
  * @demo demo/gaiden-css/components/buttons/loading/demo.html
**/

.btn {
  background-color: transparent;
  border: 0;
  border-radius: $borderRadiusButton;
  cursor: pointer;
  display: inline-block;
  font-weight: get-weight(bold);
  letter-spacing: .3px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  transition-duration: .2s, .2s, .2s, .3s;
  transition-property: border-color, box-shadow, background-color, color;
  transition-timing-function: ease-in, ease-in, ease-in, ease;

  &[disabled] {
    cursor: not-allowed;
  }

  &--fluid {
    display: block;
    width: 100%;
  }

  &--loading {
    background-color: get-color((color: rastaGray, opacity: .2));
    font-size: 0 !important; //sass-lint:disable-line no-important
    position: relative;
    transition: all .3s ease;

    &::before {
      animation: rotation 1s linear infinite;
      background-color: transparent;
      border-bottom: 3px solid get-color(air);
      border-left: 3px solid get-color(air);
      border-radius: 15px;
      border-right: 3px solid get-color(air);
      border-top: 3px solid transparent;
      box-sizing: border-box;
      content: '';
      height: 20px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform-origin: 0 0;
      width: 20px;
    }
  }

  &--full-card {
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    border-top: get-border(default);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  @include generate-button-types;
  @include generate-button-sizes;
}
