/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.card.css Card
**/

/**
  * @styles fluid Fluid
  * @demo demo/gaiden-css/components/card/demo.html
**/

/**
  * @styles grid-system Grid
  * @demo demo/gaiden-css/components/card/grid.html
**/

/**
  * @styles card+media Card + Media
  * @demo demo/gaiden-css/components/card/custom.html
**/

/**
  * @styles centered Centered
  * @demo demo/gaiden-css/components/card/centered.html
**/

.card {
  background-color: get-color(air);
  border-radius: $borderRadius;
  box-shadow: get-shadow(medium) get-color((color: blackNeutral, opacity: .12));
  flex: 1 1 auto;
  padding: 24px;
  transition: box-shadow ease-in-out .2s, transform ease-in-out .1s;
  width: inherit;

  &--profile {
    display: flex;
    flex-direction: column;
    padding-bottom: calc(44px + 16px);
  }

  &--action {
    position: relative;

    &:hover {
      box-shadow: get-shadow(large) get-color((color: blackNeutral, opacity: .1));
      transform: translate(0, -5px);
    }

    .caption-title {
      color: get-color((color: blackNeutral, key: darker, opacity: .8));
      font-size: 12px;
      margin-bottom: 0;

      small {
        font-size: inherit;
        margin-top: 0;
      }
    }

    .btn--full-card {
      bottom: 0;
      font-size: 12px;
      left: 0;
      margin-bottom: 0;
      padding: 14px 0;
      position: absolute;
      width: 100%;
    }
  }

  &__title {
    color: get-color(blackNeutral);
  }

  &__header {
    .card__title {
      color: get-color(rastaGray);
    }
  }

  &__content {
    color: get-color((color: blackNeutral, opacity: .6));
    font-size: 14px;
    font-style: italic;

    .card__header + & {
      margin-top: 16px;
    }
  }

  &__footer {
    color: get-color((color: blackNeutral, opacity: .78));
    font-size: 12px;
  }

  &--highlighted {
    .card__title {
      color: get-color(rastaGray);
      font-style: italic;
    }
  }

  .no-flexbox & {
    width: 100%;
  }
}
