/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.card.css Card
  *
  * @demo ../../demo/components/card/demo.html
**/

.card {
  padding: 20px;
  background-color: get-color(air);
  border-radius: 6px;

  @include media-gt(small) {
    padding: 30px;
  }

  &__header {
    line-height: 1.2;
  }

  &__content {
    color: get-color(blackNeutral);
    font-size: 14px;
    line-height: 1.4;
    margin-top: 12px;
  }

  &__footer {
    margin-top: 20px;
  }
}
