.card-review {
  &__title {
    color: get-color(rastaGray);
    font-size: $font-size-xxs;
    font-weight: get-weight(normal);
  }

  &__content {
    margin-top: get-space(element, medium);
  }

  &__text {
    color: get-color(color-brand-first-dark);
    font-size: $font-size-xxs;
    font-style: $font-style-quote;
  }

  &__rating {
    margin-top: get-space(element, medium);

    img {
      height: 12px;
      width: 12px;
    }
  }

  &__receiver {
    color: get-color(rastaGray);
    font-size: $font-size-xxs;
    font-style: $font-style-quote;
    font-weight: get-weight(normal);
    margin-bottom: 0;
    margin-top: get-space(element, small);
  }
}
