/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.card.css Card
**/

/**
  * @styles fluid Fluid
  * @demo demo/gaiden-css/components/card/demo.html
**/

/**
  * @styles grid-system Grid
  * @demo demo/gaiden-css/components/card/grid.html
**/

/**
  * @styles card+media Card + Media
  * @demo demo/gaiden-css/components/card/custom.html
**/

/**
  * @styles centered Centered
  * @demo demo/gaiden-css/components/card/centered.html
**/

.card {
  background-color: get-color(air);
  border-radius: $borderRadius;
  box-shadow: 0 2px 4px 0 get-color((color: blackNeutral, opacity: .12));
  flex: 1 1 auto;
  padding: 24px;
  width: inherit;
  transition: box-shadow ease-in-out .2s, transform ease-in-out .1s;

  &--profile {
    padding: 24px 0 0 0;
  }

  &--action {
    cursor: pointer;

    &:hover {
      transform: translate(0, -5px);
      box-shadow: get-shadow(large) get-color((color: blackNeutral, opacity: .1));
    }

    .caption-title {
      font-size: 12px;
      margin-bottom: 0;
      color: get-color((color: blackNeutral, key: darker, opacity: .8));

      small {
        font-size: inherit;
        margin-top: 0;
      }
    }
  }

  &__title {
    color: get-color(blackNeutral);
  }

  &__header {
    .card__title {
      color: get-color(rastaGray);
    }
  }

  &__content {
    color: get-color((color: blackNeutral, opacity: .6));
    font-size: 14px;
    font-style: italic;

    .card__header + & {
      margin-top: 16px;
    }
  }

  &__footer {
    font-size: 12px;
    color: get-color((color: blackNeutral, opacity: .78));
  }

  &--highlighted {
    .card__title {
      color: get-color(rastaGray);
      font-style: italic;
    }
  }

  .no-flexbox & {
    width: 100%;
  }
}
