/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.card.css Card
**/

/**
  * @styles fluid Fluid
  * @demo demo/gaiden-css/components/card/demo.html
**/

/**
  * @styles grid-system Using Grid System
  * @demo demo/gaiden-css/components/card/using-grid-system/demo.html
**/

/**
  * @styles highlighted Highlighted
  * @demo demo/gaiden-css/components/card/highlighted.html
**/

/**
  * @styles centered Centered
  * @demo demo/gaiden-css/components/card/centered.html
**/

.card {
  @include flex($fg: 1);

  padding: 24px;
  background-color: get-color(air);
  border-radius: $borderRadius;
  box-shadow: 0 4px 8px 0 get-color((color: blackNeutral, opacity: .12));

  [class*='-title'],
  [class*='__title'] {
    color: get-color(blackNeutral);
  }

  &__header {
    [class*='-title'],
    [class*='__title'] {
      color: get-color(rastaGray);
    }
  }

  &__content {
    color: get-color((color: blackNeutral, opacity: .6));
    font-size: 14px;

    .card__header + & {
      margin-top: 16px;
    }
  }

  &__footer {
    margin-top: 16px;
    font-size: 12px;
    color: get-color((color: blackNeutral, opacity: .78));
  }

  &--highlighted {
    [class*='-title'],
    [class*='__title'] {
      color: get-color(rastaGray);
      font-style: italic;
    }
  }

  .no-flexbox & {
    width: 100%;
  }
}
