/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.card.css Cards
**/

/**
  * @styles card-action Action
  * @demo demo/gaiden-css/components/card/action.html
**/

/**
  * @styles card-citation Citation
  * @demo demo/gaiden-css/components/card/citation.html
**/

/**
  * @styles card-profile Profile
  * @demo demo/gaiden-css/components/card/profile.html
**/

.card {
  background-color: get-color(air);
  border: solid 1px get-color((color: recusaGray, opacity: .5));
  border-radius: $borderRadius;
  box-shadow: get-shadow(medium) get-color((color: blackNeutral, opacity: .12));
  flex: 1 1 auto;
  transition: box-shadow ease-in-out .2s, transform ease-in-out .1s;
  width: inherit;

  &,
  &.media-box {
    padding: 24px;
  }

  &--profile {
    display: flex;
    flex-direction: column;

    &,
    &.media-box {
      padding-bottom: 44 + map-deep-get($spaces, element, large) + px;
    }
  }

  &--action {
    position: relative;

    &:hover {
      box-shadow: get-shadow(large) get-color((color: blackNeutral, opacity: .1));
      transform: translate(0, -5px);
    }

    .caption-title {
      color: get-color((color: blackNeutral, key: darker, opacity: .8));
      font-size: 12px;
      margin-bottom: 0;

      small {
        font-size: inherit;
        margin-top: 0;
      }
    }

    .btn--full-card {
      bottom: 0;
      font-size: 12px;
      left: 0;
      margin-bottom: 0;
      padding: 14px 0;
      position: absolute;
      width: 100%;
    }
  }

  &__content {
    color: get-color((color: blackNeutral, opacity: .6));
    font-size: 14px;
    font-style: italic;
    width: 100%;
  }

  &__footer {
    color: get-color((color: blackNeutral, opacity: .78));
    font-size: 12px;
    margin-top: auto;
    padding-top: 12px;
  }

  &--highlighted {
    .card__title {
      color: get-color(rastaGray);
      font-style: italic;
    }
  }
}
