/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.dialog.css Dialog
  *
  * ## Services
  * @demo demo/gaiden-css/components/dialog/demo.html
**/

.dialog {
  flex-direction: column;
  justify-content: center;

  &__quote {
    display: flex;
    flex: 1;
    padding: 30px;
    position: relative;
    background-color: get-color(air);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-style: italic;

    &::after {
      position: absolute;
      bottom: -29px;
      left: 50%;
      border-top: 15px solid get-color(air);
      border-right: 15px solid get-color(breeze);
      border-bottom: 15px solid get-color(breeze);
      border-left: 15px solid get-color(breeze);
      transform: translateX(-50%);
      content: '';
    }
  }

  &__user {
    display: flex;
    text-align: left;
    justify-content: center;

    &-photo {
      margin-right: 10px;
    }

    &-name {
      line-height: 15px;
      font-weight: bold;
      padding-top: 4px;
    }

    &-location {
      font-size: 12px;
      line-height: 15px;
    }
  }
}
