/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.dialog.css Dialog
  *
  * ## Services
  * @demo demo/gaiden-css/components/dialog/demo.html
  *
  * ## Inside Wall
  * @demo demo/gaiden-css/components/dialog/inside-wall/demo.html
  *
  * ## Aligned left
  * @demo demo/gaiden-css/components/dialog/aligned-left/demo.html
**/

.dialog {
  flex-direction: column;
  justify-content: center;

  &__quote {
    display: flex;
    flex: 1 0 auto;
    padding: 24px;
    position: relative;
    background-color: get-color(breeze);
    border-radius: $borderRadius;
    align-items: center;
    justify-content: center;
    font-style: italic;
    color: get-color(rastaGray);
    text-align: left;

    &::after {
      position: absolute;
      bottom: -29px;
      left: 50%;
      border-top: 15px solid get-color(breeze);
      border-right: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 15px solid transparent;
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      content: '';
    }
  }

  &__user {
    display: flex;
    text-align: left;
    justify-content: center;
    font-size: 12px;

    &-photo {
      margin-right: 10px;
    }

    &-name {
      line-height: 15px;
      font-weight: get-weight(bold);
    }

    &-location {
      font-size: 12px;
      line-height: 15px;
    }

    &--centered {
      flex-direction: column;
      align-items: center;

      .dialog__user-photo {
        margin-right: 0;
        margin-bottom: 8px;
      }

      .wrap__dialog-itens {
        text-align: center;
      }
    }
  }

  &--inside-wall {
    .dialog__quote {
      background-color: get-color(air);
      color: get-color(rastaGray);

      &::after {
        border-top: 15px solid get-color(air);
      }
    }
  }

  &--aligned-left {
    .dialog__quote {
      &::after {
        left: 10%;
      }
    }

    .dialog__user {
      justify-content: initial;
      margin-left: 7%;
    }
  }
}
