/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.footer.css Footer
  *
  * @demo demo/gaiden-css/components/footer/demo.html 500
**/

.footer {
  @include media(medium) {
    max-height: map-deep-get($footerSize, mini, size) + px;
  }
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  width: 100%;

  &--sticky {
    bottom: 0;
    justify-content: flex-end;
    left: 0;
    max-height: map-deep-get($footerSize, large, size) + px;
    position: absolute;
  }

  &__company-info {
    background-color: get-color(blackNeutral);
    padding: {
      bottom: 24px;
      top: 24px;
    };
  }

  &__company-disclaimer {
    @include media(medium) {
      text-align: inherit;
    }

    color: get-color((color: air, opacity: .5));
    font: {
      size: 11px;
      weight: get-weight(normal);
    };
    letter-spacing: .3px;
    margin: 15px auto;
    padding: {
      left: 20px;
      right: 20px;
    };
    text-align: center;

    p,
    address {
      color: get-color((color: air, opacity: .5));
      display: inline-block;
      width: auto;
    }
  }

  &__brand {
    @include media(medium) {
      justify-content: flex-end;
      margin-top: inherit;
    }
    justify-content: center;
    margin-top: 24px;

    a {
      color: get-color((color: air, opacity: .8));
      font-size: 22px;
    }

    .no-flexbox & {
      @include media(medium) {
        text-align: right;
      }
      text-align: center;
    }
  }

  &__social-bar {
    @include media(medium) {
      justify-content: inherit;
    }
    display: flex;
    justify-content: center;
    width: 100%;

    .no-flexbox & {
      @include media(medium) {
        margin: 0;
      }

      margin: 0 auto;
      width: auto;
    }

    li {
      line-height: 0;
      margin-left: 30px;

      &:first-child {
        margin-left: 0;
      }

      .no-flexbox & {
        float: left;
      }
    }
  }

  &__link,
  &__phone {
    @include media(medium) {
      padding: inherit;
    }
    padding: {
      bottom: 20px;
      top: 20px;
    }
    text-align: center;
    width: 100%;
  }

  &__link {
    color: get-color((color: air, opacity: .8));
    display: block;
    font: {
      size: 11px;
      weight: get-weight(normal);
    };
    text-transform: uppercase;
    transition: color ease .2s;

    &:hover {
      color: get-color((color: air, opacity: 1));
    }
  }

  &__phone {
    color: get-color(air);
    display: flex;
    font: {
      size: 18px;
      weight: get-weight(normal);
    };
    justify-content: center;

    .no-flexbox & {
      margin: 0 auto;
      width: auto;
    }

    .hint__icon {
      margin-right: 10px;
    }
  }

  &__menu {
    background-color: get-color((color: blackNeutral, opacity: .9));
  }
}
