/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.form.css Form
  *
  * ## Form
  * @demo demo/gaiden-css/components/form/demo.html
**/

.form {
  position: relative;
  overflow: hidden;

  .envelop {
    background: get-color(reward);
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 30px 30px 20px 30px;

    &__title {
      margin: 0;
      text-align: center;
      color: get-color(air);
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 900;
    }
  }

  .svg-triangle {
    width: 100%;
    height: 20px;
    margin-top: 68px;

    polygon {
      fill: get-color(reward);
      stroke: get-color(reward);
    }
  }

  &__container {
    padding: {
      right: 10%;
      left: 10%;
    }
    width: 100%;
  }

  &__field {
    display: block;

    & + & {
      margin-top: 16px;
    }
  }

  &__input {
    display: block;
    padding: 13px;
    border: 1px solid get-color((color: punch, opacity: .5));
    border-radius: 6px;
    background-color: get-color(breeze);
    font-size: 14px;
    transition: box-shadow .18s;

    .form__field--fluid & {
      width: 100%;
    }

    &:hover,
    &:focus {
      outline: none;
      box-shadow: 0 0 1px 1px get-color((color: serious, opacity: .5));
    }

    &--invalid {
      border-color: get-color(bloody);

      &:hover,
      &:focus {
        box-shadow: 0 0 1px 1px get-color((color: bloody, key: darker, opacity: .5));
      }
    }
  }

  &__text {
    height: auto;
    min-height: 80px;
  }

  &__label {
    display: inline-block;
    margin-bottom: 6px;
    color: get-color((color: blackNeutral, opacity: .9));
    font-size: 15px;
    font-weight: 700;
  }

  &__label-link {
    margin-left: 10px;
    font: {
      size: 13px;
      weight: 400;
    };
  }

  &__description {
    font-size: 12px;
    color: get-color((color: blackNeutral, opacity: .5));

    &.form__field {
      margin-top: 5px;
    }
  }

  input {
    padding: 13px 11px;
    color: get-color(blackNeutral);
  }

  select {
    height: 45px;
  }
}
