/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.gallery.css Gallery
  *
  * ## Services
  * @demo demo/gaiden-css/components/gallery/demo.html
**/
.gallery {
  position: relative;
  border-radius: 6px;

  &__title {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-top: 16px;
    padding-bottom: 16px;

    font-size: 14px;
    color: get-color(air);
    text-transform: uppercase;
    text-align: center;
    background-color: get-color(punch);
    border-radius: 0 0 6px 6px;
  }

  &__photo {
    width: 100%;

    img {
      width: 100%;
    }
  }
}
