.icon {
  display: inline-block;
  vertical-align: top;
  font-style: italic;
  color: get-color((color: blackNeutral, opacity: .4));

  img {
    max-width: 100%;
    padding: 6px;
    vertical-align: middle;
  }

  &--small {
    margin: {
      right: 7px;
      left: 7px;
    };
    width: 8px;
  }
}
