.icon {
  align-items: center;
  color: get-color(reward);
  display: flex;
  font-style: $font-style-quote;
  line-height: $font-line-height-equal;

  &__image {
    margin-right: 6px;
    max-width: 16px;
  }

  &--small {
    margin: {
      left: 7px;
      right: 7px;
    };
    width: 8px;
  }
}
