.icon {
  display: flex;
  vertical-align: top;
  font-style: italic;
  line-height: 1;
  color: get-color((color: blackNeutral, opacity: .4));
  align-items: center;

  &__image {
    max-width: 100%;
    margin-right: 6px;
  }

  &--small {
    margin: {
      right: 7px;
      left: 7px;
    };
    width: 8px;
  }
}
