/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.list List
  *
  * ## Fluid
  * @demo /demo/gaiden-css/components/list/demo.html
  *
  * ## Links List (Fluid)
  * @demo /demo/gaiden-css/components/list/links_list/demo.html
  *
  * ## Using Grid System
  * @demo /demo/gaiden-css/components/list/using_grid_system/demo.html
  *
  * ## Stacked
  * @demo /demo/gaiden-css/components/list/stacked/demo.html
  *
  * ## Stacked + Grid System
  * @demo /demo/gaiden-css/components/list/stacked/using_grid_system/demo.html
**/
.list {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  margin-left: 0;

  .no-flexbox & {
    @include clearfix;
  }

  &--link {
    color: get-color(punch);
    transition: transform ease-in-out .2s, background-color ease-in-out .3s;

    .list__item {
      flex-wrap: nowrap;

      &:hover,
      &:active,
      &:focus {
        background-color: get-color((color: breeze, key: darker, opacity: .4));

        a {
          -ms-transform: translateX(8px);
          transform: translateX(8px);
        }
      }
    }
  }

  &--stacked {
    display: block;

    .list__item {
      width: auto;
      float: none;
    }
  }

  &__item {
    flex-shrink: 0;
    display: flex;
    color: get-color(punch);
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: $borderRadiusButton;
    width: 25%;
    font-size: 14px;
    transition: transform ease-in-out .2s, background-color ease-in-out .3s;

    a {
      transition: inherit;
      padding: 5px 0;
    }

    .no-flexbox & {
      float: left;
    }

    &::before {
      content: '';
      margin-right: 5px;
    }

    &[class*='col-'] {
      padding-left: inherit;
      padding-right: inherit;
    }
  }
}
