/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.list List
  *
  * ## Basic List (Fluid)
  * @demo /demo/gaiden-css/components/list/demo.html
  *
  * ## Basic List with Title (Fluid)
  * @demo /demo/gaiden-css/components/list/with_title/demo.html
  *
  * ## Links List (Fluid)
  * @demo /demo/gaiden-css/components/list/links_list/demo.html
  *
  * ## Using Grid System
  * @demo /demo/gaiden-css/components/list/using_grid_system/demo.html
  *
  * ## Stacked
  * @demo /demo/gaiden-css/components/list/stacked/demo.html
  *
  * ## Stacked + Grid System
  * @demo /demo/gaiden-css/components/list/stacked/using_grid_system/demo.html
  *
  * ## On Column
  * @demo /demo/gaiden-css/components/list/on_column/demo.html
  *
  * ## With icons
  * @demo /demo/gaiden-css/components/list/with_icons/demo.html
  *
  * ## With row icons
  * @demo /demo/gaiden-css/components/list/with_row_icons/demo.html
**/

.listing {
  display: flex;
  flex-direction: column;

  &__title {
    color: get-color(rastaGray);
    display: block;
    font-size: 12px;
    font-weight: get-weight(bold);
    margin-bottom: 20px;
    text-align: left;
    text-transform: uppercase;
  }
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 0;
  width: 100%;

  &__item {
    border-radius: 4px;
    color: get-color(punch);
    display: flex;
    flex-shrink: 0;
    font-size: 14px;
    margin-bottom: get-space(element, small);
    transition: background-color ease-in-out .3s;
    width: 25%;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      transition: transform ease-in-out .3s;
    }
  }

  &--stacked {
    .list__item {
      width: 100%;
    }
  }

  &--on-column {
    &[class*='col-'] {
      margin-left: 0;

      + & {
        margin-left: auto;
        margin-right: 0;
      }

      .list__item {
        width: 100%;
      }
    }
  }

  &--with-icons {
    display: flex;
    flex-grow: 1;

    .list__item {
      height: 48px;
      margin-left: 12px;
      text-indent: -9999px;
      width: 48px;

      a {
        padding: 0;
        width: 100%;
      }

      img {
        display: block;
        max-width: 100%;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &--with-row-icons {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    .list {
      &__item {
        flex-grow: 1;

        &::before {
          margin-right: 0;
        }

        a {
          display: block;
        }

        &:last-child {
          margin-left: 5px;

          @include media(normal) {
            margin-left: 0;
            margin-top: get-space(element, small);
          }
        }

        @include media(normal) {
          width: 100%;
        }
      }

      &__image {
        max-width: 100%;
      }
    }

    @include media(normal) {
      flex: auto;
      flex-direction: column;
    }
  }

  &--link {
    color: get-color(punch);
  }

  &--link,
  &--on-column {
    .list__item {
      cursor: pointer;
      flex-wrap: nowrap;
      margin-bottom: 0;
      padding: 5px 5px 5px 0;

      &:hover,
      &:active,
      &:focus {
        background-color: get-color((color: breeze, key: darker, opacity: .4));

        a {
          transform: translateX(8px);
        }
      }
    }
  }
}
