/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css_components.media Media
  *
  * ## Mini
  * @demo /demo/gaiden-css/components/media/mini/demo.html
  *
  * ## Default
  * @demo /demo/gaiden-css/components/media/default/demo.html
**/


.media {
  display: flex;

  &__image {

    &--mini {
      max-height: 134px;
    }
  }

  &__title {
    color: get-color(rastaGray);
    width: 100%;
  }

  &__description {
    display: inline-table;
    width: 100%;
  }

  &__content {
    color: get-color(blackNeutral, lighter);
  }
}
