/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css_components.media Media
  *
  * ## Simple
  * @demo /demo/gaiden-css/components/media/simple/demo.html
**/

.media {
  display: flex;

  &__image {

    &--mini {
      max-height: 175px;
    }
  }

  &__title {
    color: get-color(rastaGray);
  }

  &__content {
    color: get-color(blackNeutral, lighter);
  }
}
