/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css_components.media_box Media Box
  *
  * ## Fluid
  * @demo /demo/gaiden-css/components/media_box/demo.html
  *
  * ## Using Grid System
  * @demo /demo/gaiden-css/components/media_box/using_grid_system/demo.html
**/

.media-box {
  display: flex;
  flex: 1;
  color: get-color((color: blackNeutral, key: darker, opacity: .8));

  &__title {
    font-size: 14px;
    color: inherit;

    small {
      color: get-color((color: blackNeutral, key: darker, opacity: .6));
      font-weight: get-weight(normal);
      font-size: 12px;
      font-style: normal;
    }
  }

  &__sidebar {
    flex-shrink: 0;
    padding-right: 15px;
    display: block;

    .no-flexbox & {
      display: table-cell;
    }
  }

  &__content {
    flex-wrap: wrap;
    flex-direction: column;
    word-break: break-word;
    font-size: 14px;
    display: flex;

    &--card {
      flex-direction: row;
    }
  }
}
