/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.menu.css Menu
  *
  * @demo demo/gaiden-css/components/menu/demo.html
**/

.menu {
  @include flexbox;
  @include flex-shrink(0);
  @include flex-direction(column);
  @include media(small) {
    @include flex-direction(row);
  }

  padding: 24px;
  justify-content: space-between;

  .no-flexbox & {
    @include clearfix;
  }

  &--centered {
    justify-content: center;
  }

  &--over {
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: get-color(air);
  }

  &__brand {
    justify-content: flex-start;

    .no-flexbox & {
      float: left;
    }
  }

  &__options {
    justify-content: flex-end;

    .no-flexbox & {
      float: right;
    }
  }
}
