/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.menu.css Menu
  *
  * @demo demo/gaiden-css/components/menu/demo.html
**/

.menu {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  @include media(small) {
    flex-direction: row;
  }

  padding: 24px;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 get-color(blackNeutral, $key: darker, $opacity: .1);

  .no-flexbox & {
    @include clearfix;
  }

  &--centered {
    justify-content: center;
  }

  &--over {
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: get-color(air);
    top: 0;

    + .page-banner {
      .page-banner__content {
        padding-top: 90px;
      }
    }
  }

  &__brand {
    justify-content: flex-start;

    .no-flexbox & {
      float: left;
    }
  }

  &__options {
    justify-content: flex-end;

    .no-flexbox & {
      float: right;
    }
  }
}
