/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.menu.css Menu
  *
**/

/**
  * @styles menu_over Menu Over
  *
  * @demo demo/gaiden-css/components/menu/default/demo.html
**/

/**
  * @styles menu_neutral Menu Neutral
  *
  * @demo demo/gaiden-css/components/menu/neutral/demo.html
**/


.menu {
  @include media(small) {
    flex-direction: row;
  }
  box-shadow: 0 2px 4px 0 get-color(blackNeutral, $key: darker, $opacity: .1);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 24px;

  .no-flexbox & {
    @include clearfix;
  }

  &--centered {
    justify-content: center;
  }

  &--over {
    background-color: get-color(air);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    + .page-banner {
      .page-banner__content {
        padding-top: 90px;
      }
    }
  }

  &--neutral {
    background-color: transparent;
    box-shadow: none;
  }

  &__brand {
    justify-content: flex-start;

    .no-flexbox & {
      float: left;
    }
  }

  &__options {
    justify-content: flex-end;

    .no-flexbox & {
      float: right;
    }
  }
}
