/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.pagination.css Pagination
  *
  * @demo demo/gaiden-css/components/pagination/demo.html
  *
  * ## With disabled item
  * @demo demo/gaiden-css/components/pagination/disabled/demo.html
  *
  * ## With active item
  * @demo demo/gaiden-css/components/pagination/active/demo.html
**/

.pagination {
  &__item {
    cursor: pointer;
    display: inline-block;

    & + & {
      margin-left: 2px;
    }

    a {
      background-color: get-color(air);
      border: solid 1px get-color((color: rastaGray, opacity: .2));
      border-radius: $borderRadius;
      cursor: inherit;
      display: block;
      font-size: 14px;
      font-weight: get-weight(bold);
      padding: 4px 9px;
      transition: background-color .2s, color .2s, border-color .2s;
      width: 100%;
    }

    &-jump {
      border: 0;
      display: inline-block;
      padding: 6px 5px;
    }

    &--disabled {
      cursor: not-allowed;
      opacity: .3;
    }

    &--active {
      &:not(.pagination__item--disabled) {
        a {
          background-color: get-color(punch);
          border-color: get-color(serious);
          color: get-color(air);
        }
      }
    }

    &:hover {
      &:not(.pagination__item--disabled) {
        a {
          border-color: get-color(serious);
        }
      }
    }
  }
}
