/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.page-banner.css Page Banner
  *
  * @demo demo/gaiden-css/components/page-banner/demo.html
**/

.page-banner {
  display: flex;
  flex-direction: row;
  @include media(small) {
    height: 576px;
  }

  width: 100%;
  height: 430px;
  position: relative;

  &__content {
    display: flex;
    padding: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
    position: relative;

    [class*='-title'] {
      color: get-color(air);
    }
  }

  &__picture {
    width: 100%;
    height: 100%;
    position: absolute;

    img {
      height: auto;
    }
  }

  &--over {
    .page-banner__content {
      @include media(medium) {
        padding-bottom: $pageOverMedium + px;
      }

      padding-bottom: $pageOverSmall + px;
    }
  }

  + .page-banner-over {
    @include media(medium) {
      margin-top: - $pageOverMedium + px;
    }

    margin-top: - $pageOverSmall + px;
  }
}
