/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.picture.css Picture
  *
**/

/**
  * @styles simple Simple Picture
  *
  * @demo demo/gaiden-css/components/picture/demo.html
  *
**/

/**
  * @styles rounded Rounded
  *
  * @demo demo/gaiden-css/components/picture/rounded.html
**/

/**
  * @styles enveloped Enveloped
  *
  * @demo demo/gaiden-css/components/picture/enveloped.html
**/

/**
  * @styles cover Cover
  * This sample is a image with the full height and centralized image on picture container. This case simulates the `background-size: cover` without use a image as background.
  * @demo demo/gaiden-css/components/picture/cover.html
**/

.picture {
  max-width: 100%;

  &__image {
    display: block;
    height: auto;
    max-width: 100%;
    background-color: get-color(air);
  }

  &--rounded {
    .picture__image {
      border-radius: 50%;
    }
  }

  &--cover {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    .picture__image {
      -moz-force-broken-image-icon: 1; //sass-lint:disable-line no-misspelled-properties
      position: relative;
      left: 50%;
      max-width: initial;
      transform: translateX(-50%);
    }
  }

  &--enveloped {
    display: block;
    position: relative;

    &::before {
      @include media(small) {
        @include backgrounds(
          (
            (10deg, get-color(air) 10%, transparent 10%),
            (-10deg, get-color(air) 10%, transparent 10%)
          )
        );
      }
      @include media(large) {
        @include backgrounds(
          (
            (6deg, get-color(air) 11%, transparent 11%),
            (-6deg, get-color(air) 11%, transparent 11%)
          )
        );
      }
      @include backgrounds(
        (
          (8deg, get-color(air) 11%, transparent 11%),
          (-8deg, get-color(air) 11%, transparent 11%)
        )
      );

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      content: '';
    }
  }
}
