.picture {

  &--rounded {
    .picture__image {
      border-radius: 50%;
    }
  }

  &--cover {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 94%, 0 80%);
    clip-path: polygon(0 0, 100% 0, 100% 84%, 50% 100%, 0 84%);

    &::before {
      @include backgrounds(
        (
          (5deg, white 19%, transparent 19.2%),
          (-5deg, white 19%, transparent 19.2%)
        )
      );
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
    }

    .picture__image {
      margin: auto;
      position: absolute;
      top: -9999px;
      right: -9999px;
      bottom: -9999px;
      left: -9999px;
      min-width: 100%;
      min-height: 100%;
    }
  }
}
