/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css_components.price-variation Price Variation
  *
  * ## Simple sample
  * @demo /demo/gaiden-css/components/price-variation/demo.html
**/

.price-variation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__item {
    display: flex;
    flex-direction: row;

    padding: {
      top: 16px;
      bottom: 16px;
    };
    border-top: 1px solid get-color(recusaGray);

    &:first-child {
      border-top: 0;
    }

    &[class*='col-'] {
      @include flex;
      margin: 0;
    }

    &--stacked {
      flex: 1 1 100vw;
    }
  }
}
