/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css_components.price-variation Price Variation
  *
  * ## Simple sample
  * @demo /demo/gaiden-css/components/price-variation/demo.html
**/

.price-variation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;

  &__item {
    border-top: 1px solid get-color(recusaGray);
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: {
      bottom: 16px;
      top: 16px;
    };
    width: 50%;

    &:first-child {
      border-top: 0;
    }

    &[class*='col-'] {
      @include flex;
      margin: 0;
    }

    &--stacked {
      flex: 100vw;
    }
  }
}
