.rating {
  font-size: 12px;
  color: get-color((color: blackNeutral, key: darker, opacity: .4));

  &__stars {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }

  &__star-item {
    display: inline-block;
  }
}
