/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.serives.css Services
  *
  * ## Services
  * @demo demo/gaiden-css/components/services/demo.html
**/
.services {
  &__title {
    position: relative;
    color: get-color(punch);
    text-align: center;
    font-size: 18px;


    &::before,
    &::after {
      display: block;
      width: 39%;
      position: absolute;
      top: 50%;
      border: 1px solid get-color(punch);
      opacity: .2;
      content: '';
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }
}
