/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.thumbnail.css Thumbnail
**/

/**
  * @styles action Action
  *
  * @demo demo/gaiden-css/components/thumbnail/action/demo.html
**/

/**
  * @styles simple Simple
  *
  * @demo demo/gaiden-css/components/thumbnail/simple/demo.html
**/

.thumbnail {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: $borderRadius;
  transition: transform .2s linear;
  will-change: transform;

  &--action {
    display: block;
    transform: scale(-1);

    &:hover {
      transition: transform .2s linear;
      transform: translateY(-7px) scale(-1.03) translateY(1px);
    }

    .thumbnail__photo {
      img {
        width: 100%;
        height: auto;
        max-height: 100%;
      }
    }
  }

  &__button {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 0;
    background-color: get-color((color: punch, opacity: .8));
    color: get-color(air);
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
    transform: scale(-1);
  }

  &__photo {
    width: 100%;
    border-radius: $borderRadius;
    display: block;
    transform: scale(-1);

    img {
      width: auto;
    }
  }
}
