/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.thumbnail.css Thumbnail
  *
  * ## Services
  * @demo demo/gaiden-css/components/thumbnail/demo.html
**/
.thumbnail {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: $borderRadius;
  transition: transform .2s linear;
  will-change: transform;

  &:hover {
    transition: transform .2s linear;
    transform: translateY(-7px) scale(1.03);
  }

  &__title {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 0;
    color: get-color(air);
    text-transform: uppercase;
    text-align: center;
    z-index: 1;

    &::before {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: get-color((color: rastaGray, opacity: .5));
      filter: blur(5px);
      z-index: -2;
      content: '';
    }

    &::after {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-color: get-color((color: punch, opacity: .8));
      content: '';
    }
  }

  &__photo {
    width: 100%;

    img {
      width: 100%;
    }
  }
}
