/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.thumbnail.css Thumbnail
**/

/**
  * @styles action Action
  *
  * @demo demo/gaiden-css/components/thumbnail/action/demo.html
**/

/**
  * @styles simple Simple
  *
  * @demo demo/gaiden-css/components/thumbnail/simple/demo.html
**/

.thumbnail {
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: $borderRadius;
  will-change: transform;
  width: 98%;
  max-height: 190px;
  margin: 0 auto;
  box-shadow: 0 -2px 4px 0 get-color((color: blackNeutral, opacity: .1));
  transition: transform .2s ease-in-out;

  &--action {
    display: block;
    transform: scale(-1);

    &:hover {
      transform: translate(0, -5px) scale(-1);

      .thumbnail__button  {
        background-color: get-color(punch);
        color: get-color(air);
      }
    }

    .thumbnail__photo {
      transform: scale(-1);

      img {
        width: 100%;
        height: auto;
        max-height: 100%;
      }
    }
  }

  &__button {
    width: 100%;
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
    transform: scale(-1);
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: get-color(air);
    font-size: 12px;
    font-weight: 700;
    color: get-color(punch);
    transition: background-color ease-in-out .2s, color ease-in-out .2s;
  }

  &__photo {
    width: 100%;
    border-radius: $borderRadius;
    display: block;

    img {
      width: auto;
    }
  }
}
