/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.wall.css Wall
  *
  * @demo demo/gaiden-css/components/wall/demo.html
**/

.wall {
  padding: {
    top: 80px;
    bottom: 80px;
  }

  &--highlighted {
    background-color: get-color(breeze);
  }

  &--separator {
    border-top: 1px solid get-color((color: serious, opacity: 0.2));
  }
}
