@import '../../../../node_modules/@getninjas/niten-tokens/build/web/niten-tokens';
@import '../../../shared/settings/grid';


.listing {
  &__title {
    margin-bottom: $size-spacing-xs;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: $size-spacing-l;
    width: 100%;

    @media screen and (min-width: $media-medium) {
      flex-direction: row;
    }
  }
}

.lists {
  padding: 0;

  &__item {
    border-radius: $size-border-radius-s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: $size-spacing-xxxs;
    padding: $size-spacing-xxxs 0;
    transition: background-color ease-in-out .3s;

    &:hover {
      background-color: $color-interface-alert-light;

      @media screen and (min-width: $media-normal) {
        width: 218px;
      }

      .lists__link {
        color: $color-interface-content-extra-dark;
        margin-left: $size-spacing-xxxs;
        transition: transform ease-in-out .3s;
      }
    }

    &--app {
      margin-left: 0;
    }
  }

  &__link {
    color: $color-interface-content-medium;
    font-size: $size-font-xs;
    line-height: $size-line-height-xs;
    text-decoration: none;


    @media screen and (min-width: $media-large) {
      margin-right: $size-spacing-l;
    }
  }

  &__group {
    list-style: none;
    padding: 0;
    width: 218px;
  }

  &--flex {
    display: flex;
  }

  &__social-media {
    align-items: flex-start;
    display: flex;
    flex-grow: 0;

    a {
      margin-right: $size-spacing-xxxs;
      width: 40px;
    }

    img {
      width: 100%;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &--figure,
  &--downloads {
    margin-top: $size-spacing-l;
  }

  @media screen and (min-width: $media-medium) {
    &--downloads {
      margin-top: 0;
    }

    &--figure {
      margin-top: $size-spacing-s;
    }
  }
}
