@mixin gradient($colorName, $colors: $colors, $gradients: $gradients, $angle: 110deg) {
  $gradient: map-get($gradients, $colorName);

  $color: map-get($colors, nth($gradient, 1));

  $firstColor:  map-get($color, nth($gradient, 2));
  $lastColor: map-get($color, nth($gradient, 3));

  @include linear-gradient($angle, $firstColor, $lastColor);
};
