/**
* @parent gaiden_css.settings
* @stylesheet gaiden_css.settings.border.css Borders
*
*  @body
*    ## Using
*      $borderRadius: 6px;
*      $borderRadiusButton: 4px;
*
*      $border: (
*        default: solid 1px,
*        outline: solid 2px
*      );
**/

$borderRadius: 6px;
$borderRadiusButton: 4px;

$border: (
  default: solid 1px,
  outline: solid 2px
);
