/**
* @parent gaiden_css.settings
* @stylesheet gaiden_css.settings.border.css Borders
*
*  @body
*    ## Using
<<<<<<< HEAD
*      $border-radius: 6px;
*      $border-radius-button: 4px;
=======
*      $borderRadius: 6px;
*      $borderRadiusButton: 4px;
>>>>>>> Rename theme to be the default theme
*
*      $border: (
*        default: solid 1px,
*        outline: solid 2px
*      );
**/

<<<<<<< HEAD
$border-radius: 6px;
$border-radius-button: 4px;
=======
$borderRadius: 6px;
$borderRadiusButton: 4px;
>>>>>>> Rename theme to be the default theme

$border: (
  default: solid 1px,
  outline: solid 2px
);
