<<<<<<< HEAD
$default-breakpoints: (
=======
$defaultBreakpoints: (
>>>>>>> Rename theme to be the default theme
  small:  ( columns: 12, size: 420  ),
  medium: ( columns: 12, size: 768  ),
  normal: ( columns: 12, size: 960  ),
  large:  ( columns: 12, size: 1200 )
);

<<<<<<< HEAD
$grid-gutter: 30;
=======
$gridGutter: 30;

>>>>>>> Rename theme to be the default theme
