$default-breakpoints: (
  small:  ( columns: 12, size: 420  ),
  medium: ( columns: 12, size: 768  ),
  normal: ( columns: 12, size: 960  ),
  large:  ( columns: 12, size: 1200 )
);

$grid-gutter: 30;
