@import '../../node_modules/@getninjas/niten-tokens/build/web/niten-tokens';

.heading {
  color: $color-brand-first-extra-dark;
  font-family: $font-family-default;
  font-weight: $font-style-weight-light;

  &--xl {
    font-size: $size-font-xxl;
    line-height: $size-line-height-xxl;
  }

  &--l {
    font-size: $size-font-xl;
    line-height: $size-line-height-xl;
  }

  &--m {
    font-size: $size-font-l;
    line-height: $size-line-height-l;
  }

  &--s {
    font-size: $size-font-m;
    line-height: $size-line-height-m;
  }

  &--xs {
    font-size: $size-font-xs;
    font-weight: $font-style-weight-regular;
    line-height: $size-line-height-xs;
  }

  &--inverse {
    color: $color-brand-first-light;
  }

  &--strong {
    font-weight: $font-style-weight-regular;

    &[class*="heading--xs"] {
      font-weight: $font-style-weight-bold;
    }
  }
}
