/**
* @parent gaiden_css.settings
* @stylesheet gaiden_css.settings.font.css Font
*
*  @body
*
*   @body
*   #### Weight
*     normal - 400
*     bold - 700
*     bolder - 900
*
*  @body
*   # Helpers
*   Use the helpers to get the weight defined in the properties such as `font-weight`.
*
*   @body
*   #### Helper
*     get-weight(normal)
*     get-weight(bold)
*     get-weight(bolder)
*
**/


//sass-lint:disable no-url-domains no-url-protocols
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i');

$font-family-default: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-line-height-xxl: 68px;
$font-line-height-xl: 56px;
$font-line-height-l: 40px;
$font-line-height-m: 32px;
$font-line-height-s: 28px;
$font-line-height-xs: 24px;
$font-line-height-xxs: 22px;
$font-line-height-equal: 1;
$font-size-xxl: 60px;
$font-size-xl: 48px;
$font-size-l: 32px;
$font-size-m: 24px;
$font-size-s: 20px;
$font-size-xs: 16px;
$font-size-xxs: 14px;
$font-style-quote: italic;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;

$font-weight: (
  light: $font-weight-light,
  normal: $font-weight-regular,
  bold: $font-weight-bold
);
