/**
* @parent gaiden_css.settings
* @stylesheet gaiden_css.settings.font.css Font
*
*  @body
*
*   @body
*   #### Weight
*     normal - 400
*     bold - 700
*     bolder - 900
*
*  @body
*   # Helpers
*   Use the helpers to get the weight defined in the properties such as `font-weight`.
*
*   @body
*   #### Helper
*     get-weight(normal)
*     get-weight(bold)
*     get-weight(bolder)
*
**/


//sass-lint:disable no-url-domains no-url-protocols
@import url('//fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i');

$baseFont: 'Lato';

$fontWeight: (
  normal: 400,
  bold: 700,
  bolder: 900
)
