// Sizes
$buttonSizes: (
  mini: (
    fontSize: 12,
    padding: (10 20)
  ),

  small: (
    fontSize: 13,
    padding: (11 22)
  ),

  regular: (
    fontSize: 14,
    padding: (16 32)
  ),

  big: (
    fontSize: 16,
    padding: (21 42)
  )
);

// Types
$buttonTypes: (
  high-contrast: (
    default: (background: punch, color: air),
    hover: (background: serious)
  ),
  high-contrast-reversed: (
    default: (background: (color: air, opacity: .9), color: punch),
    hover: (background: air)
  ),
  low-contrast: (
    default: (background: recusaGray, color: (color: blackNeutral, opacity: .5)),
    hover: (background: (color: blackNeutral, opacity: .2))
  ),
  low-contrast-reversed: (
    default: (background: (color: blackNeutral, opacity: .1), color: air),
    hover: (background: (color: blackNeutral, opacity: .14))
  ),
  medium-contrast: (
    default: (background: serious, color: air),
    hover: (background: (color: serious, key: darker))
  ),
  medium-contrast-reversed: (
    default: (background: (color: blackNeutral, opacity: .25), color: air),
    hover:  (background: (color: blackNeutral, opacity: .3))
  ),
  outline: (
    default: (background: air, border: punch, color: punch),
    hover:  (background: (color: punch, opacity: .1))
  ),
  outline-reversed: (
    default: (border: air, color: air),
    hover: (background: (color: air, opacity: .12))
  ),
  raised: (
    default: (background: punch, color: air, shadow: (color: blackNeutral, opacity: .2)),
    hover:  (background: serious)
  ),
  raised-reversed: (
    default: (background: (color: air, opacity: .9), shadow: (color: blackNeutral, opacity: .2), color: punch),
    hover:  (background: air)
  )
);




