/**
  * @parent gaiden_css.settings
  * @stylesheet gaiden_css.settings.colors.css Colors
  *
  * There are different colors that can be used:
  * @iframe demo/gaiden-css/variables/colors/demo.html 360
**/

/**
*  @parent gaiden_css.configs
*  @typedef {{}} gaiden_css.configs.color_config ColorConfig
*  @option {String} color Name of color key at `Palette Map`
*  @option {String} key Name of color key modifier at `Palette Map`
*  @option {Number} opacity Alpha number for color rgba method
*  @option {Map} palette Define color palette map
*
*  @body
*    ## Using
*       $colorConfig: (
*         color: punch,
*         opacity: .8,
*         key: darker,
*         palette: (punch: (base: #1393f6))
*       );
**/

/**
  * @styles gradients Gradients
  *
  * An some gradients defined
  *
  * @iframe demo/gaiden-css/variables/colors/gradients/demo.html 260
**/

$colors: (
  color-brand-first-extra-dark: (base: #000),
  color-brand-first-dark: (base: #212121),
  color-brand-first-medium: (base: #575757),
  color-brand-first-light: (base: #fff),
  color-brand-second-extra-dark: (base: #615600),
  color-brand-second-dark: (base: #ffea52),
  color-brand-second-medium: (base: #fff399),
  color-brand-second-light: (base: #fffce6),
  color-interface-positive-extra-dark: (base: #006513),
  color-interface-positive-dark: (base: #25a159),
  color-interface-positive-medium: (base: #a0e9be),
  color-interface-positive-light: (base: #eafaf1),
  color-interface-alert-extra-dark: (base: #d78e00),
  color-interface-alert-dark: (base: #f6ba50),
  color-interface-alert-medium: (base: #fff085),
  color-interface-alert-light: (base: #fffce6),
  color-interface-negative-extra-dark: (base: #b40300),
  color-interface-negative-dark: (base: #f26565),
  color-interface-negative-medium: (base: #f49999),
  color-interface-negative-light: (base: #fdecec),
  color-interface-highlight-extra-dark: (base: #5319a9),
  color-interface-highlight-dark: (base: #9a63ee),
  color-interface-highlight-medium: (base: #c8a3ff),
  color-interface-highlight-light: (base: #f3ebff),
  color-interface-action-extra-dark: (base: #195ca9),
  color-interface-action-dark: (base: #009ded),
  color-interface-action-medium: (base: #7ad6ff),
  color-interface-action-light: (base: #e5f7ff),
  color-interface-content-extra-dark: (base: #000),
  color-interface-content-dark: (base: #212121),
  color-interface-content-medium: (base: #575757),
  color-interface-content-light: (base: #fff),
  color-interface-shade-extra-dark: (base: #b2b2b2),
  color-interface-shade-dark: (base: #dbdbdb),
  color-interface-shade-medium: (base: #f2f2f2),
  color-interface-shade-light: (base: #f8f8f8),
  air: (base: #fff),
  blackNeutral: (base: #333, lighter: rgba(0, 0, 0, .6), darker: rgba(0, 0, 0, 1)),
  breeze: (base: #eff4fa, darker: #c9d7e8),
  punch: (base: #1393f6, lighter: #21c1ff),
  serious: (base: #1272d5, darker: #004183),
  warning: (base: #ffd600, darker: #e7ab0c),
  reward: (base: #40d879, darker: #26a656),
  rewardType: (base: #2abf62, darker: #097632),
  bloody: (base: #b24141, darker: #6d0909),
  rastaGray: (base: #536e7b, darker: #36474e),
  recusaGray: (base: #e7e7e7),
  offWhite: (base: #eceff1),
  sand: (base: #e2d7ad),
  wall: (base: #f9f9f9),
);

$gradients: (
  wind: (breeze base darker),
  sky:  (punch lighter base),
  ocean: (serious base darker),
  golden: (warning base darker),
  field: (reward base darker),
  jungle: (reward base darker),
  heart: (bloody base darker),
  night: (rastaGray base darker)
);
