$defaultBreakpoints: (
  small:  ( gutter: 16, columns: 6,  columnSize: 44 ),
  medium: ( gutter: 16, columns: 12, columnSize: 48 ),
  normal: ( gutter: 20, columns: 12, columnSize: 60 ),
  large:  ( gutter: 30, columns: 12, columnSize: 78 )
);
