$defaultBreakpoints: (
  small:  ( gutter: 16, columns: 6,  column_size: 44 ),
  medium: ( gutter: 16, columns: 12, column_size: 48 ),
  normal: ( gutter: 20, columns: 12, column_size: 60 ),
  large:  ( gutter: 30, columns: 12, column_size: 78 )
);