/**
* @parent gaiden_css.settings
* @stylesheet gaiden_css.settings.shadows.css Shadows
*
*  @body
*    ## Using
*      $shadows: (
*        normal: 0 1px 1px 0,
*        medium: 0 2px 4px 0,
*        large: 0 4px 8px 0,
*        none: 0 0 0 0
*      );
**/

$shadows: (
  normal: 0 1px 1px 0,
  medium: 0 2px 4px 0,
  large: 0 4px 8px 0,
  none: 0 0 0 0
);
