/**
* @parent gaiden_css.settings
* @stylesheet gaiden_css.settings.spaces.css Spaces
*
*  @body
*
*   @body
*   #### Section
*     .space-section-small - 60px
*     .space-section-medium - 72px
*     .space-section-large - 84px
*
*   #### Box
*     .space-box-small - 24px
*     .space-box-medium - 36px
*     .space-box-large - 48px
*
*   #### Element
*     .space-element-small - 8px
*     .space-element-medium - 12px
*     .space-element-large - 16px
*
*  @body
*  # Helpers
*  ##### Use the helpers to get the sizes defined in the properties such as `margin-top`
*
*   @body
*   #### Section
*     get-spaces(section, small) (60px)
*     get-spaces(section, medium) (72px)
*     get-spaces(section, large) (84px)
*
*   #### Box
*     get-spaces(box, small) (24px)
*     get-spaces(box, medium) (36px)
*     get-spaces(box, large) (48px)
*
*   #### Element
*     get-spaces(element, small) (8px)
*     get-spaces(element, medium) (12px)
*     get-spaces(element, large) (16px)
*
*  @body
*  # Nagative
*  ##### To get a negative result using the helper, we need to add the operator `-` before the helper call.
*
*     - get-spaces(param)
*
**/
$spaces: (
  section: (
    small: 60,
    medium: 72,
    large: 84
  ),
  box: (
    small: 24,
    medium: 36,
    large: 48
  ),
  element: (
    small: 8,
    medium: 12,
    large: 16
  )
);

@mixin generate-spaces($spaces: $spaces) {
  @each $groupName, $spaceGroup in $spaces {
    @each $key, $space in $spaceGroup {
      .space-#{$groupName}-#{$key} {
        margin-top: $space + px;
      }
    }
  }
};
