.breadcrumb {
  color: $color-interface-shade-extra-dark;
  display: none;
  font-size: $size-font-xxs;
  font-style: normal;
  margin: $size-spacing-s 0 $size-spacing-xs;
  padding: 0 $size-spacing-s;

  .sco-breadcrumbs {
    display: flex;
    flex-wrap: wrap;

    &-item {
      &-separator {
        @extend %typography__size-caption;
        letter-spacing: 2px;
      }

      &:last-child {
        @extend %typography__color--content-extra-dark;
      }
    }
  }

  @include media(medium) {
    display: flex;
  }
}
