body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  background-color: get-color(wall);
  color: get-color(color-brand-first-medium);
  font: {
    family: $font-family-default;
    size: 16px;
    weight: get-weight(normal);
  };
  line-height: 1.3;
}
