/**
  * @parent gaiden_css.generic
  * @stylesheet gaiden_css.generic.headings.css Headings
  * @demo demo/gaiden-css/generic/headings/demo.html
**/
h1,
h2,
h3,
h4,
h5,
h6,
.page-title,
.section-title,
.container-title,
.card-title,
.info-title {
  color: get-color(rastaGray);
  font: {
    weight: 900;
  };

  small {
    color: get-color(blackNeutral, lighter, $opacity: .5);
    display: block;
    font-weight: 400;
  }
}

.page-title,
.section-title,
.container-title,
.card-title,
.info-title {
  &--high-contrast {
    color: get-color(punch);
  }
}

h1,
.page-title {
  margin-bottom: 4px;
  font-size: 24px;

  small {
    margin-top: 8px;
    font-size: 18px;
  }

  @include media(normal) {
    font-size: 48px;

    small {
      font-size: 30px;
    }
  }
}

h2,
.section-title {
  margin-bottom: 4px;
  font-size: 20px;

  small {
    margin-top: 4px;
    font-size: 16px;
  }

  @include media(normal) {
    font-size: 36px;

    small {
      font-size: 24px;
    }
  }
}

h3,
.container-title {
  margin-bottom: 4px;
  font-size: 18px;

  small {
    margin-top: 4px;
    font-size: 16px;
  }

  @include media(normal) {
    font-size: 24px;

    small {
      font-size: 18px;
    }
  }
}

h4,
.info-title {

  font: {
    weight: 700;
    size: 16px;
  }
  margin-bottom: 4px;

  small {
    margin-top: 4px;
    font-size: 14px;
  }

  @include media(normal) {
    font-size: 20px;

    small {
      font-size: 16px;
    }
  }
}

h5,
.info-title {
  font: {
    weight: 700;
    size: 14px;
  }
  margin-bottom: 4px;

  small {
    margin-top: 4px;
    font-size: 13px;
  }

  @include media(normal) {
    font-size: 18px;

    small {
      font-size: 14px;
    }
  }
}

h6,
.info-title {
  font: {
    weight: 700;
    size: 13px;
  }
  margin-bottom: 4px;

  small {
    margin-top: 4px;
    font-size: 12px;
  }

  @include media(normal) {
    font-size: 16px;

    small {
      font-size: 14px;
    }
  }
}
