
h1,
h2,
h3,
h4,
h5,
.page-title,
.section-title,
.container-title,
.card-title,
.info-title {
  color: get-color(blackNeutral);
  font: {
    weight: 900;
  };

  small {
    display: block;
    font-style: italic;
    font-weight: 300;
  }
}

h1,
.page-title {
  @include media-gt(small) {
    font-size: 36px;
  }

  margin-bottom: 8px;
  font-size: 24px;

  small {
    @include media-gt(small) {
      font-size: 32px;
    }

    margin-top: 8px;
    font-size: 20px;
  }
}

h2,
.section-title {
  @include media-gt(small) {
    font-size: 24px;

    small {
      font-size: 22px;
    }
  }

  margin-bottom: 4px;
  font-size: 14px;

  small {
    margin-top: 4px;
    font-size: 20px;
  }
}

h3,
.container-title {
  @include media-gt(small) {
    font-size: 18px;
  }

  margin-bottom: 4px;
  font-size: 16px;

  small {
    margin-top: 4px;
    font-size: 14px;
  }
}

h4,
.card-title {
  font: {
    weight: 700;
    size: 16px;
  }
  margin-bottom: 4px;

  small {
    margin-top: 4px;
    font-size: 14px;
  }
}

h5,
.info-title {
  font: {
    weight: 700;
    size: 14px;
  }
  margin-bottom: 4px;

  small {
    margin-top: 4px;
    font-size: 12px;
  }
}
