//sass-lint:disable-all

* {
  box-sizing: border-box;
}

em {
  font-style: $font-style-quote;
}

strong {
  font-weight: get-weight(bold);
}

select,
input,
button,
textarea {
  font-family: inherit;
}
