@import '../../../../node_modules/@getninjas/niten-tokens/build/web/niten-tokens';
@import '../../../shared/settings/grid';

@import '../topbar/menu-icon';

.topbar {
  align-items: center;
  background-color: $color-brand-first-light;
  border-bottom: 1px solid $color-interface-shade-dark;
  display: flex;
  flex-direction: row;
  height: 56px;
  order: 1;
  padding: 0 16px;
  justify-content: space-between;


  &__brand {
    display: flex;
    flex-direction: row;

    img {
      width: 124px;
      align-self: center;
    }
  }

  &__text {
    display: none;

    @media screen and (min-width: $media-medium) {
      display: flex;
      margin-left: $size-spacing-m;
    }
  }

  &__navigation {
    align-items: center;
    align-self: center;
    background-color: $color-brand-first-light;
    border-bottom: 1px solid $color-interface-shade-dark;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    left: 0;
    overflow: hidden;
    padding: $size-spacing-s;
    position: absolute;
    top: 56px;
    width: 100%;
    z-index: 1;

    &--opened {
      display: flex;
    }

    @media screen and (min-width: $media-medium) {
      background-color: none;
      border: none;
      display: flex;
      flex-direction: row;
      padding: 0;
      position: relative;
      top: initial;
      width: initial;
    }
  }

  &__item {
    margin-bottom: $size-spacing-xs;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: $media-medium) {
      margin-bottom: 0;
      margin-left: $size-spacing-s;
    }
  }

  &--centered {
    justify-content: center;
  }
}
