@import '../../../../node_modules/@getninjas/niten-tokens/build/web/niten-tokens';
@import '../../../shared/settings/grid';

.topbar {
  align-items: center;
  background-color: $color-brand-first-light;
  border-bottom: 1px solid $color-interface-shade-dark;
  display: flex;
  flex-direction: row;
  height: 56px;
  order: 1;
  padding: 0 16px;
  justify-content: space-between;


  &__brand {
    display: flex;
    flex-direction: row;

    img {
      width: 124px;
      align-self: center;
    }
  }

  &__text {
    display: none;

    @media screen and (min-width: $media-medium) {
      display: flex;
      margin-left: $size-spacing-m;
    }
  }

  &__buttons {
    align-self: center;
  }

  &--centered {
    justify-content: center;
  }
}
