body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  background-color: $color-brand-first-light;
  color: $color-interface-content-medium;
  font: {
    family: $font-family-default;
    size: $size-font-xs;
    weight: $font-style-weight-regular;
  };
  line-height: $size-line-height-xs;
}

.icon__colored-black {
  fill: $color-brand-first-extra-dark;
}

.typography__size-caption,
.typography__size-quote--s,
.typography__size-quote--l {
  a {
    color: $color-interface-action-dark;

    :hover {
      color: $color-interface-action-extra-dark;
    }
  }
}
