//sass-lint:disable-all

* {
  box-sizing: border-box;
}

em {
  font-style: $font-style-quote;
}

strong {
  font-weight: get-weight($font-style-weight-regular);
}

select,
input,
button,
textarea {
  font-family: $font-family-default;
}
