@mixin generate-button-types($buttonTypesList: $buttonTypes) {
  @each $key, $buttonType in $buttonTypesList {
    &--#{$key} {
      @include _generate-button-types-properties($buttonType, default);

      @if map-has-key($buttonType, hover) {
        &:not([disabled]) {
          &:hover {
            @include _generate-button-types-properties($buttonType, hover);
          }
        }
      }

      @if map-has-key($buttonType, active) {
        &:not([disabled]) {
          &:active {
            @include _generate-button-types-properties($buttonType, active);
          }
        }
      }

      @if map-has-key($buttonType, disabled) {
        &:disabled {
          @include _generate-button-types-properties($buttonType, disabled);
        }
      }
    }
  }
};

@mixin _generate-button-types-properties($buttonType, $key) {
  @if map-has-key($buttonType, $key) {
    $buttonTypeConfig: map-get($buttonType, $key);

    @if map-has-key($buttonTypeConfig, background) {
      background-color: get-color(map-get($buttonTypeConfig, background));
    }

    @if map-has-key($buttonTypeConfig, border) {
      $config: map-get($buttonTypeConfig, border);
      $style: map-get($config, style);
      $color: map-get($config, color);
      border: get-border($style) get-color($color);
    }

    @if map-has-key($buttonTypeConfig, textColor) {
      color: get-color(map-get($buttonTypeConfig, textColor));
    }

    @if map-has-key($buttonTypeConfig, opacity) {
      opacity: map-get($buttonTypeConfig, opacity);
    }

    @if map-has-key($buttonTypeConfig, borderTopColor) {
      border-top-color: get-color(map-get($buttonTypeConfig, borderTopColor));
    }

    @if map-has-key($buttonTypeConfig, shadow) {
      $shadowConfig: map-get($buttonTypeConfig, shadow);
      box-shadow: map-get($shadows, map-get($shadowConfig, kind)) get-color((color: blackNeutral, key: darker, opacity: .2));
    }
  }
};
