//sass-lint:disable force-pseudo-nesting
/**
  * @parent gaiden_css.components.form
  * @stylesheet gaiden_css.components.form.checkbox.css Form Checkbox
  *
  * ## Form Checkbox
  * @demo demo/gaiden-css/components/form/checkbox/demo.html
**/

.form__check {
  position: relative;
  padding-left: 20px;
  margin-top: 10px;

  & + & {
    margin-top: 16px;
  }

  input {
    position: relative;
    z-index: 2;
  }

  > input {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0;

    &:checked ~ label::before {
      color: get-color(air);
      background: {
        repeat: no-repeat;
        position: center center;
        color: get-color(punch);
        image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAKCAYAAABv7tTEAAAABGdBTUEAALGPC/xhBQAAAIFJREFUKBWNkMEKgCAMQCWI6NO81k92qW7d+i/p0HozRxFaDV7TtsdU536EiHiYofnR7lwSAlljgaZ6M2nw1GewCYH1Hh2KNbRxkz4qgE1gKRPUd2HkxwpRJJcFtWgYwELFHvIT0ilU6mCDXFxHMsEy3TmxLBTEb+Eh6h3PV7LCIx9f9d351AjwGwAAAABJRU5ErkJggg==');
      }
    }

    &:focus ~ label::before {
      box-shadow: 0 0 1px 1px get-color((color: punch, opacity: .5));
    }
  }

  label {
    @include flexbox;
    margin-left: 11px;
    align-items: center;
    font-size: 14px;
    color: get-color((color: blackNeutral, opacity: .6));

    &::before {
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      border: 2px solid get-color(punch);
      border-radius: 4px;
      background-color: get-color(breeze);
      content: '';
      transition: background-color .1s;
    }
  }
}
