/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.form.message.css Form Message
  *
  * ## Form Message
  * @demo demo/gaiden-css/components/form/message/demo.html
**/

.form__message {
  display: inline-block;
  font-size: 12px;

  &:empty {
    display: none;
  }

  &--invalid {
    color: get-color(bloody);
  }
}
