//sass-lint:disable force-pseudo-nesting
/**
  * @parent gaiden_css.form
  * @stylesheet gaiden_css.form.radio.css Form Radio
  *
  * ## Form Radio
  * @demo demo/gaiden-css/components/form/radio/demo.html
**/

.form__radio {
  position: relative;
  padding-left: 20px;
  margin-top: 10px;

  & + & {
    margin-top: 16px;
  }

  input {
    position: relative;
    z-index: 2;
  }

  > input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    opacity: 0;

    &:checked ~ label::before {
      color: get-color(air);
      background: {
        repeat: no-repeat;
        position: center center;
        color: get-color(air);
        image: radial-gradient(circle, transparent 18%, get-color(punch) 21%);
      }
      box-shadow: none;
    }

    &:focus ~ label::before {
      box-shadow: 0 0 1px 1px get-color((color: punch, opacity: .5));
    }
  }

  label {
    @include flexbox;
    margin-left: 11px;
    align-items: center;
    font-size: 14px;
    color: get-color((color: blackNeutral, opacity: .6));

    &::before {
      width: 18px;
      height: 18px;
      position: absolute;
      left: 0;
      box-shadow: inset 0 0 0 1px get-color((color: rastaGray, opacity: .3));
      border-radius: 50%;
      background-color: get-color(breeze);
      content: '';
    }
  }
}
