//sass-lint:disable force-pseudo-nesting
/**
  * @parent gaiden_css.form
  * @stylesheet gaiden_css.form.radio.css Form Radio
  *
  * ## Form Radio
  * @demo demo/gaiden-css/components/form/radio/demo.html
**/

.form__radio {
  margin-top: 10px;
  padding-left: 20px;
  position: relative;

  & + & {
    margin-top: 16px;
  }

  input {
    position: relative;
    z-index: 2;

    &:not(:disabled) {
      cursor: pointer;
    }
  }

  > input {
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 1;

    &:checked ~ label::before {
      background: {
        color: get-color(air);
        image: radial-gradient(circle, transparent 20%, get-color(punch) 28%);
        position: center center;
        repeat: no-repeat;
      }
      border: solid 1px get-color(punch);
      box-shadow: none;
      color: get-color(air);
    }

    &:focus ~ label::before {
      box-shadow: 0 0 1px 1px get-color((color: punch, opacity: .5));
    }

    &[disabled] {
      opacity: 0;
    }
  }

  label {
    @include flexbox;
    align-items: center;
    color: get-color((color: blackNeutral, opacity: .6));
    font-size: 14px;
    margin-left: 11px;
    z-index: 2;

    &::before {
      background-color: get-color(breeze);
      border-radius: 50%;
      box-shadow: inset 0 0 0 1px get-color((color: rastaGray, opacity: .3));
      content: '';
      height: 20px;
      left: 0;
      position: absolute;
      width: 20px;
    }
  }

  &--disabled {
    label {
      opacity: .5;

      &::before {
        box-shadow: initial;
      }
    }
  }

  &--outlined {
    > input {
      &:checked ~ label::before {
        background: {
          color: get-color(punch);
          image: radial-gradient(circle, transparent 20%, get-color(air) 30%);
        }
        color: get-color(air);
      }

      &:focus ~ label::before {
        box-shadow: initial;
      }
    }

    label {
      color: get-color(air);

      &::before {
        background-color: get-color(punch);
        box-shadow: inset 0 0 0 2px get-color(air);
        height: 20px;
        width: 20px;
      }
    }
  }
}
