//sass-lint:disable force-pseudo-nesting
/**
  * @parent gaiden_css.form
  * @stylesheet gaiden_css.form.radio.css Form Radio
  *
  * ## Form Radio
  * @demo demo/gaiden-css/components/form/radio/demo.html
**/

.form__radio {
  position: relative;
  padding-left: 20px;
  margin-top: 10px;

  & + & {
    margin-top: 16px;
  }

  input {
    position: relative;
    z-index: 2;
  }

  > input {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0;

    &:checked ~ label::before {
      color: get-color(air);
      background: {
        repeat: no-repeat;
        position: center center;
        color: get-color(air);
        image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABGdBTUEAALGPC/xhBQAAAK1JREFUKBWVUssNwjAUs0OXYIZugRiDG5972QN6R3BjDMQWnYElCq9+NDlEIqh9lyh+flaeHSKVGXF+70DbCqoj3MF4w3FxBWmO8dtobQnr7zBbRWJ+kE+w2qDhK4jEv2QfdaFRkMSp3wOfSy5ZuoVDiG8uMXJc+wUhacG8+ftW+8Cs8oFuxkQnl+Tz1BJXlsrWtn8UM0hinkVTreWSEvRQHChVCk7cMWknTvwaAzPsQwFzEPenAAAAAElFTkSuQmCC');
      }
    }

    &:focus ~ label::before {
      box-shadow: 0 0 1px 1px get-color((color: punch, opacity: .5));
    }
  }

  label {
    @include flexbox;
    margin-left: 11px;
    align-items: center;
    font-size: 14px;
    color: get-color((color: blackNeutral, opacity: .6));

    &::before {
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      border: 2px solid get-color(punch);
      border-radius: 50%;
      background-color: get-color(breeze);
      content: '';
    }
  }
}
