.form__steps {
  align-items: center;
  background-color: get-color(recusaGray);
  border-bottom: {
    left-radius: 6px;
    right-radius: 6px;
  };
  box-shadow: inset 0 1px 0 0 get-color((color: blackNeutral, opacity: .05));
  color: get-color((color: rastaGray, opacity: .5));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  font: {
    size: 12px;
    weight: get-weight(normal);
  }
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;

  &-item {
    border-bottom: {
      left-radius: 6px;
      right-radius: 6px;
    };
    flex: 1;
    line-height: $font-line-height-equal;
    padding: 14px;
    text-align: center;

    &--active {
      background-color: get-color(color-brand-first-light);
      color: get-color(rastaGray);
    }
  }
}
