.form__steps {
  @include flex-direction;
  @include flex-wrap;
  @include flexbox;
  align-items: center;
  background-color: get-color(recusaGray);
  border-bottom: {
    left-radius: 6px;
    right-radius: 6px;
  };
  box-shadow: inset 0 1px 0 0 get-color((color: blackNeutral, opacity: .05));
  color: get-color((color: rastaGray, opacity: .5));
  font: {
    size: 12px;
    weight: 400;
  }
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;

  &-item {
    @include flex;
    border-bottom: {
      left-radius: 6px;
      right-radius: 6px;
    };
    line-height: 1;
    padding: 14px;
    text-align: center;

    &--active {
      background-color: get-color(air);
      color: get-color(rastaGray);
    }
  }
}
