<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/demo/css/base.css">
  <link rel="stylesheet" href="/build/stylesheets/ninja-gaiden.css">
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      background-color: #eff4fa;
      padding: 10px;
    }
  </style>
</head>

<body>
  <article class="card">
    <header class="card__header">
      <h3>Bruce W.</h3>
    </header>
    <div class="card__content">
      <p>- Apartamento com pintura nova branca (imóvel com 2 anos). Repintura do forro de gesso e paredes. Forro de gesso da sala com partes sem massa corrida (sanca embutida)</p>
    </div>
    <footer class="card__footer">
      <p class="address">
        <i class="icon icon-pin"></i><span><em>Vila Madalena, São Paulo/SP</em></span>
      </p>
    </footer>
  </article>
  <div class="container" style="margin-top: 15px;">
    <div class="col-small-6">
      <article class="card">
        <header class="card__header">
          <h3>Bruce W.</h3>
        </header>
        <div class="card__content">
          <p>- Apartamento com pintura nova branca (imóvel com 2 anos). Repintura do forro de gesso e paredes. Forro de gesso da sala com partes sem massa corrida (sanca embutida)</p>
        </div>
        <footer class="card__footer">
          <p class="address">
            <i class="icon icon-pin"></i><span><em>Vila Madalena, São Paulo/SP</em></span>
          </p>
        </footer>
      </article>
    </div>
    <div class="col-small-6">
      <article class="card">
        <header class="card__header">
          <h3>Bruce W.</h3>
        </header>
        <div class="card__content">
          <p>- Apartamento com pintura nova branca (imóvel com 2 anos). Repintura do forro de gesso e paredes. Forro de gesso da sala com partes sem massa corrida (sanca embutida)</p>
        </div>
      </article>
    </div>
  </div>
</body>
</html>
