@import '../../../../node_modules/@getninjas/niten-tokens/build/web/niten-tokens';

.btn {
  border: 0;
  border-radius: $size-border-radius-pill;
  cursor: pointer;
  font-weight: $font-style-weight-bold;
  min-width: 280px;
  text-align: center;
  text-transform: uppercase;
  transition: all .2s linear;

  &--small {
    font-size: $size-font-xxs;
    padding: $size-spacing-xxs $size-spacing-m;
  }

  &--large {
    font-size: $size-font-xs;
    padding: $size-spacing-xs $size-spacing-l;
  }

  &--primary {
    background-color: $color-brand-first-extra-dark;
    color: $color-interface-content-light;

    &:hover,
    &:focus,
    &:active {
      background-color: $color-brand-first-medium;
      color: $color-interface-content-light;
    }

    &[disabled] {
      background-color: $color-interface-shade-extra-dark;
    }
  }

  &--secondary {
    background-color: $color-interface-content-light;
    box-shadow: inset 0 0 0 2px $color-brand-first-extra-dark;
    color: $color-brand-first-extra-dark;

    &:hover,
    &:focus,
    &:active {
      background-color: $color-brand-first-extra-dark;
      color: $color-interface-content-light;
    }
  }

  &--inverse {
    background-color: $color-interface-content-light;
    color: $color-brand-first-extra-dark;

    &:hover,
    &:focus,
    &:active {
      background-color: $color-interface-shade-dark;
    }
  }

  &--loading {
    position: relative;
    font-size: 0;
    transition: all .3s ease;

    &::before {
      animation: spin 1s linear infinite;
      background-color: transparent;
      border-bottom: 3px solid $color-interface-content-light;
      border-left: 3px solid $color-interface-content-light;
      border-radius: 15px;
      border-right: 3px solid $color-interface-content-light;
      border-top: 3px solid transparent;
      box-sizing: border-box;
      content: '';
      height: 18px;
      width: 18px;
      margin: -9px 0 0 -9px;
      position: absolute;
      top: 50%;
      left: 50%;

      @keyframes spin { 
        100% { 
          transform: rotate(360deg); 
        }
      }
    }

    &[class*="btn--inverse"] {
      &::before {
        border-bottom: 3px solid $color-interface-content-dark;
        border-left: 3px solid $color-interface-content-dark;
        border-right: 3px solid $color-interface-content-dark;
      }
    }
  }
}
