<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/demo/css/base.css">
  <link rel="stylesheet" href="/build/stylesheets/ninja-gaiden.css">
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      background-color: #eff4fa;
      padding: 10px;
    }
  </style>
</head>

<body>
<div class="container">
  <div class="col-small-6">
    <article class="card">
      <header class="card__header">
        <h3 class="card__title">Bruce W.</h3>
      </header>
      <div class="card__content">
        <p>- Apartamento com pintura nova branca (imóvel com 2 anos). Repintura do forro de gesso e paredes. Forro de gesso da sala com partes sem massa corrida (sanca embutida)</p>
      </div>
      <footer class="card__footer">
        <p class="hint">
          <i class="hint__icon icon icon--small">
            <img src="/demo/images/icons/pin.svg" alt="">
          </i>
          <em class="hint__message">Vila Madalena, São Paulo/SP</em>
        </p>
      </footer>
    </article>
  </div>
  <div class="col-small-6">
    <article class="card">
      <header class="card__header">
        <h3 class="card__title">Bruce W.</h3>
      </header>
      <div class="card__content">
        <p>- Apartamento com pintura nova branca (imóvel com 2 anos). Repintura do forro de gesso e paredes. Forro de gesso da sala com partes sem massa corrida (sanca embutida)</p>
      </div>
      <footer class="card__footer">
        <p class="hint">
          <i class="hint__icon icon icon--small">
            <img src="/demo/images/icons/pin.svg" alt="">
          </i>
          <em class="hint__message">Vila Madalena, São Paulo/SP</em>
        </p>
      </footer>
    </article>
  </div>
</div>
</body>
</html>
