/**
* @parent gaiden_css.settings
* @stylesheet gaiden_css.settings.font.css Font
*
*  @body
*
*   @body
*   #### Weight
*     normal - 400
*     bold - 700
*     bolder - 900
*
*  @body
*   # Helpers
*   Use the helpers to get the weight defined in the properties such as `font-weight`.
*
*   @body
*   #### Helper
*     get-weight(normal)
*     get-weight(bold)
*     get-weight(bolder)
*
**/


//sass-lint:disable no-url-domains no-url-protocols
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i&display=swap');

$base-font: $font-family-default;

$font-weight: (
  light: $font-style-weight-light,
  normal: $font-style-weight-regular,
  bold: $font-style-weight-bold
)
