/**
* @parent gaiden_css.settings
* @stylesheet gaiden_css.settings.border.css Borders
*
*  @body
*    ## Using
*      $border-radius: 6px;
*      $border-radius-button: 4px;
*
*      $border: (
*        default: solid 1px,
*        outline: solid 2px
*      );
**/

$border-radius: 6px;
$border-radius-button: 4px;

$border: (
  default: solid 1px,
  outline: solid 2px
);
