/**
  * @parent gaiden_css.settings
  * @stylesheet gaiden_css.settings.colors.css Colors
  *
  * There are different colors that can be used:
  * @iframe demo/gaiden-css/variables/colors/demo.html 360
**/

/**
*  @parent gaiden_css.configs
*  @typedef {{}} gaiden_css.configs.color_config ColorConfig
*  @option {String} color Name of color key at `Palette Map`
*  @option {String} key Name of color key modifier at `Palette Map`
*  @option {Number} opacity Alpha number for color rgba method
*  @option {Map} palette Define color palette map
*
*  @body
*    ## Using
*       $colorConfig: (
*         color: punch,
*         opacity: .8,
*         key: darker,
*         palette: (punch: (base: #1393f6))
*       );
**/

/**
  * @styles gradients Gradients
  *
  * An some gradients defined
  *
  * @iframe demo/gaiden-css/variables/colors/gradients/demo.html 260
**/

$colors: (
  color-brand-first-extra-dark: (base: $color-brand-first-extra-dark),
  color-brand-first-dark: (base: $color-brand-first-dark),
  color-brand-first-medium: (base: $color-brand-first-medium),
  color-brand-first-light: (base: $color-brand-first-light),
  color-brand-second-extra-dark: (base: $color-brand-second-extra-dark),
  color-brand-second-dark: (base: $color-brand-second-dark),
  color-brand-second-medium: (base: $color-brand-second-medium),
  color-brand-second-light: (base: $color-brand-second-light),
  color-interface-positive-extra-dark: (base: $color-interface-positive-extra-dark),
  color-interface-positive-dark: (base: $color-interface-positive-dark),
  color-interface-positive-medium: (base: $color-interface-positive-medium),
  color-interface-positive-light: (base: $color-interface-positive-light),
  color-interface-alert-extra-dark: (base: $color-interface-alert-extra-dark),
  color-interface-alert-dark: (base: $color-interface-alert-dark),
  color-interface-alert-medium: (base: $color-interface-alert-medium),
  color-interface-alert-light: (base: $color-interface-alert-light),
  color-interface-negative-extra-dark: (base: $color-interface-negative-extra-dark),
  color-interface-negative-dark: (base: $color-interface-negative-dark),
  color-interface-negative-medium: (base: $color-interface-negative-medium),
  color-interface-negative-light: (base: $color-interface-negative-light),
  color-interface-highlight-extra-dark: (base: $color-interface-highlight-extra-dark),
  color-interface-highlight-dark: (base: $color-interface-highlight-dark),
  color-interface-highlight-medium: (base: $color-interface-highlight-medium),
  color-interface-highlight-light: (base: $color-interface-highlight-light),
  color-interface-action-extra-dark: (base: $color-interface-action-extra-dark),
  color-interface-action-dark: (base: $color-interface-action-dark),
  color-interface-action-medium: (base: $color-interface-action-medium),
  color-interface-action-light: (base: $color-interface-action-light),
  color-interface-content-extra-dark: (base: $color-interface-content-extra-dark),
  color-interface-content-dark: (base: $color-interface-content-dark),
  color-interface-content-medium: (base: $color-interface-content-medium),
  color-interface-content-light: (base: $color-interface-content-light),
  color-interface-shade-extra-dark: (base: $color-interface-shade-extra-dark),
  color-interface-shade-dark: (base: $color-interface-shade-dark),
  color-interface-shade-medium: (base: $color-interface-shade-medium),
  color-interface-shade-light: (base: $color-interface-shade-light),
  air: (base: $color-interface-content-light),
  blackNeutral: (base: $color-interface-content-dark, lighter: $color-interface-content-medium, darker: $color-interface-content-extra-dark),
  breeze: (base: $color-brand-second-light, darker: $color-brand-second-medium),
  punch: (base: $color-brand-first-extra-dark, lighter: $color-brand-first-dark),
  serious: (base: $color-brand-first-extra-dark, lighter: $color-brand-first-dark),
  warning: (base: $color-interface-alert-dark, darker: $color-interface-alert-extra-dark),
  reward: (base: $color-interface-positive-dark, darker: $color-interface-positive-extra-dark),
  rewardType: (base: $color-interface-positive-dark, darker: $color-interface-positive-extra-dark),
  bloody: (base: $color-interface-negative-dark, darker: $color-interface-negative-extra-dark),
  rastaGray: (base: $color-interface-content-medium, darker: $color-interface-content-extra-dark),
  recusaGray: (base: $color-interface-shade-dark),
  offWhite: (base: $color-interface-shade-medium),
  sand: (base: $color-brand-second-light),
  wall: (base: $color-interface-shade-light),
);

$gradients: (
  wind: (breeze base darker),
  sky:  (punch lighter base),
  ocean: (serious base darker),
  golden: (warning base darker),
  field: (reward base darker),
  jungle: (reward base darker),
  heart: (bloody base darker),
  night: (rastaGray base darker)
);
