<<<<<<< HEAD
@import '../../../../../niten-tokens/build/web/niten-tokens';

=======
>>>>>>> Add new file struct
/**
  * @parent gaiden_css.settings
  * @stylesheet gaiden_css.settings.colors.css Colors
  *
  * There are different colors that can be used:
  * @iframe demo/gaiden-css/variables/colors/demo.html 360
**/

/**
*  @parent gaiden_css.configs
*  @typedef {{}} gaiden_css.configs.color_config ColorConfig
*  @option {String} color Name of color key at `Palette Map`
*  @option {String} key Name of color key modifier at `Palette Map`
*  @option {Number} opacity Alpha number for color rgba method
*  @option {Map} palette Define color palette map
*
*  @body
*    ## Using
*       $colorConfig: (
*         color: punch,
*         opacity: .8,
*         key: darker,
*         palette: (punch: (base: #1393f6))
*       );
**/

/**
  * @styles gradients Gradients
  *
  * An some gradients defined
  *
  * @iframe demo/gaiden-css/variables/colors/gradients/demo.html 260
**/

$colors: (
<<<<<<< HEAD
  color-brand-first-extra-dark: (base: $color-brand-first-extra-dark),
  color-brand-first-dark: (base: $color-brand-first-dark),
  color-brand-first-medium: (base: $color-brand-first-medium),
  color-brand-first-light: (base: $color-brand-first-light),
  color-brand-second-extra-dark: (base: $color-brand-second-extra-dark),
  color-brand-second-dark: (base: $color-brand-second-dark),
  color-brand-second-medium: (base: $color-brand-second-medium),
  color-brand-second-light: (base: $color-brand-second-light),
  color-interface-positive-extra-dark: (base: $color-interface-positive-extra-dark),
  color-interface-positive-dark: (base: $color-interface-positive-dark),
  color-interface-positive-medium: (base: $color-interface-positive-medium),
  color-interface-positive-light: (base: $color-interface-positive-light),
  color-interface-alert-extra-dark: (base: $color-interface-alert-extra-dark),
  color-interface-alert-dark: (base: $color-interface-alert-dark),
  color-interface-alert-medium: (base: $color-interface-alert-medium),
  color-interface-alert-light: (base: $color-interface-alert-light),
  color-interface-negative-extra-dark: (base: $color-interface-negative-extra-dark),
  color-interface-negative-dark: (base: $color-interface-negative-dark),
  color-interface-negative-medium: (base: $color-interface-negative-medium),
  color-interface-negative-light: (base: $color-interface-negative-light),
  color-interface-highlight-extra-dark: (base: $color-interface-highlight-extra-dark),
  color-interface-highlight-dark: (base: $color-interface-highlight-dark),
  color-interface-highlight-medium: (base: $color-interface-highlight-medium),
  color-interface-highlight-light: (base: $color-interface-highlight-light),
  color-interface-action-extra-dark: (base: $color-interface-action-extra-dark),
  color-interface-action-dark: (base: $color-interface-action-dark),
  color-interface-action-medium: (base: $color-interface-action-medium),
  color-interface-action-light: (base: $color-interface-action-light),
  color-interface-content-extra-dark: (base: $color-interface-content-extra-dark),
  color-interface-content-dark: (base: $color-interface-content-dark),
  color-interface-content-medium: (base: $color-interface-content-medium),
  color-interface-content-light: (base: $color-interface-content-light),
  color-interface-shade-extra-dark: (base: $color-interface-shade-extra-dark),
  color-interface-shade-dark: (base: $color-interface-shade-dark),
  color-interface-shade-medium: (base: $color-interface-shade-medium),
  color-interface-shade-light: (base: $color-interface-shade-light),
=======
>>>>>>> Add new file struct
  air: (base: #fff),
  blackNeutral: (base: #333, lighter: rgba(0, 0, 0, .6), darker: rgba(0, 0, 0, 1)),
  breeze: (base: #eff4fa, darker: #c9d7e8),
  punch: (base: #1393f6, lighter: #21c1ff),
  serious: (base: #1272d5, darker: #004183),
  warning: (base: #ffd600, darker: #e7ab0c),
  reward: (base: #40d879, darker: #26a656),
  rewardType: (base: #2abf62, darker: #097632),
  bloody: (base: #b24141, darker: #6d0909),
  rastaGray: (base: #536e7b, darker: #36474e),
  recusaGray: (base: #e7e7e7),
  offWhite: (base: #eceff1),
  sand: (base: #e2d7ad),
  wall: (base: #f9f9f9),
);

$gradients: (
  wind: (breeze base darker),
  sky:  (punch lighter base),
  ocean: (serious base darker),
  golden: (warning base darker),
  field: (reward base darker),
  jungle: (reward base darker),
  heart: (bloody base darker),
  night: (rastaGray base darker)
);
