/**
  * @parent gaiden_css.settings
  * @stylesheet gaiden_css.settings.colors.css Colors
  *
  * There are different colors that can be used:
  * @iframe demo/gaiden-css/variables/colors/demo.html 360
**/

/**
*  @parent gaiden_css.configs
*  @typedef {{}} gaiden_css.configs.color_config ColorConfig
*  @option {String} color Name of color key at `Palette Map`
*  @option {String} key Name of color key modifier at `Palette Map`
*  @option {Number} opacity Alpha number for color rgba method
*  @option {Map} palette Define color palette map
*
*  @body
*    ## Using
*       $colorConfig: (
*         color: punch,
*         opacity: .8,
*         key: darker,
*         palette: (punch: (base: #1393f6))
*       );
**/

/**
  * @styles gradients Gradients
  *
  * An some gradients defined
  *
  * @iframe demo/gaiden-css/variables/colors/gradients/demo.html 260
**/

$colors: (
  color-brand-first-extra-dark: (base: $color-brand-first-extra-dark),
  color-brand-first-dark:(base: $color-brand-first-dark),
  color-brand-first-medium:(base: $color-brand-first-medium),
  color-brand-first-light:(base: $color-brand-first-light),
  color-brand-second-extra-dark:(base: $color-brand-second-extra-dark),
  color-brand-second-dark:(base: $color-brand-second-dark),
  color-brand-second-medium:(base: $color-brand-second-medium),
  color-brand-second-light:(base: $color-brand-second-light),
  color-interface-positive-extra-dark:(base: $color-interface-positive-extra-dark),
  color-interface-positive-dark:(base: $color-interface-positive-dark),
  color-interface-positive-medium:(base: $color-interface-positive-medium),
  color-interface-positive-light:(base: $color-interface-positive-light),
  color-interface-alert-extra-dark:(base: $color-interface-alert-extra-dark),
  color-interface-alert-dark:(base: $color-interface-alert-dark),
  color-interface-alert-medium:(base: $color-interface-alert-medium),
  color-interface-alert-light:(base: $color-interface-alert-light),
  color-interface-negative-extra-dark:(base: $color-interface-negative-extra-dark),
  color-interface-negative-dark:(base: $color-interface-negative-dark),
  color-interface-negative-medium:(base: $color-interface-negative-medium),
  color-interface-negative-light:(base: $color-interface-negative-light),
  color-interface-hightlight-extra-dark:(base: $color-interface-hightlight-extra-dark),
  color-interface-hightlight-dark:(base: $color-interface-hightlight-dark),
  color-interface-hightlight-medium:(base: $color-interface-hightlight-medium),
  color-interface-hightlight-light:(base: $color-interface-hightlight-light),
  color-interface-action-extra-dark:(base: $color-interface-action-extra-dark),
  color-interface-action-dark:(base: $color-interface-action-dark),
  color-interface-action-medium:(base: $color-interface-action-medium),
  color-interface-action-light:(base: $color-interface-action-light),
  color-interface-context-extra-dark:(base: $color-interface-context-extra-dark),
  color-interface-context-dark:(base: $color-interface-context-dark),
  color-interface-context-medium:(base: $color-interface-context-medium),
  color-interface-context-light:(base: $color-interface-context-light),
  color-interface-shade-extra-dark:(base: $color-interface-shade-extra-dark),
  color-interface-shade-dark:(base: $color-interface-shade-dark),
  color-interface-shade-medium:(base: $color-interface-shade-medium),
  color-interface-shade-light:(base: $color-interface-shade-light),
);

$gradients: (
  wind: (breeze base darker),
  sky:  (punch lighter base),
  ocean: (serious base darker),
  golden: (warning base darker),
  field: (reward base darker),
  jungle: (reward base darker),
  heart: (bloody base darker),
  night: (rastaGray base darker)
);
