/**
* @parent gaiden_css.settings
* @stylesheet gaiden_css.settings.spaces.css Spaces
*
*  @body
*
*   @body
*   #### Section
*     .space-section-small - 60px
*     .space-section-medium - 72px
*     .space-section-large - 84px
*
*   #### Box
*     .space-box-small - 24px
*     .space-box-medium - 36px
*     .space-box-large - 48px
*
*   #### Element
*     .space-element-small - 8px
*     .space-element-medium - 12px
*     .space-element-large - 16px
*
*  @body
*  # Helpers
*  ##### Use the helpers to get the sizes defined in the properties such as `margin-top`.
*
*   @body
*   #### Section
*     get-space(section, small) (60px)
*     get-space(section, medium) (72px)
*     get-space(section, large) (84px)
*
*   #### Box
*     get-space(box, small) (24px)
*     get-space(box, medium) (36px)
*     get-space(box, large) (48px)
*
*   #### Element
*     get-space(element, small) (8px)
*     get-space(element, medium) (12px)
*     get-space(element, large) (16px)
*
*  @body
*  # Negative
*  ##### To get a negative result using the helper, we need to add the operator `-` before the helper call.
*
*     - get-space(param)
*
**/
$spaces: (
  section: (
    small: 60,
    medium: 72,
    large: 84
  ),
  box: (
    small: 24,
    medium: 36,
    large: 48
  ),
  element: (
    small: 8,
    medium: 12,
    large: 16
  )
);

@mixin generate-spaces($spaces: $spaces) {
<<<<<<< HEAD
  @each $group-name, $space-group in $spaces {
    @each $key, $space in $space-group {
      .space-#{$group-name}-#{$key} {
=======
  @each $groupName, $spaceGroup in $spaces {
    @each $key, $space in $spaceGroup {
      .space-#{$groupName}-#{$key} {
>>>>>>> Add new file struct
        margin-top: $space + px;
      }
    }
  }
};
