@import '../../../../node_modules/@getninjas/niten-tokens/build/web/niten-tokens';

.button {
  cursor: pointer;
  font-size: 20px;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-bottom: 10px;
  color: $color-interface-action-light;
  position: relative;
  transform: translate3d(0px, 0px, 0px);
  border-width: 2px;
  border-style: solid;
  border-image: initial;
  border-radius: 8px;
  padding: 16px 24px;
  outline: none;
  transition: all 0.2s ease 0s;
  border-color: transparent;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    pointer-events: none;
    background-image: radial-gradient(circle, $color-interface-content-extra-dark 10%, transparent 10.01%);
    transform: scale(10, 10);
    opacity: 0;
    background-repeat: no-repeat;
    background-position: 50% center;
    transition: transform 0.5s ease 0s, opacity 1s ease 0s;
  }


  .spinner {
    display: inline-block;
    border: 2px solid $color-interface-action-extra-dark;
    border-left-color: $color-brand-first-light;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }


  &:active::after {
    transform: scale(0, 0);
    opacity: 0.2;
    transition: 0s;
  }

  &--primary {
    background-color: $color-interface-action-extra-dark;
  &:hover{
    background-color: $color-interface-action-dark;
  }
    &[disabled] {
      color: $color-interface-content-light;
      background-color: $color-interface-shade-dark;
      cursor: not-allowed;
    }
  }

  &--secondary {
    background-color: transparent;
    border-color: $color-interface-action-extra-dark;
    color: $color-interface-action-extra-dark;
    &:hover{
      background-color: $color-brand-first-light;
    }
    &:hover {
      background-color: $color-interface-action-light;
    }
    &[disabled] {
      color: $color-interface-shade-dark;
      background-color: transparent;
      border-color: $color-interface-shade-dark;
      cursor: not-allowed;
    }
  }

  &--highlight {
      background-color: $color-interface-positive-dark;

      &:hover {
        background-color: $color-interface-positive-extra-dark;
      }

      .spinner {
        border: 2px solid $color-interface-positive-dark;
        border-left-color: $color-brand-first-light;
      }
  }

  &--clear {
    background-color: transparent;
    color: $color-interface-action-dark;

    &[disabled] {
      color: $color-interface-shade-dark;
      background-color: transparent;
      cursor: not-allowed;
    }

  }


}
