/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.buttons.css Buttons
**/

/**
  * @styles sizes Sizes
  *
  * @demo demo/gaiden-css/components/buttons/sizes/demo.html 262
**/

/**
  * @styles buttons_hc High Contrast
  *
  * @demo demo/gaiden-css/components/buttons/hc/demo.html
**/

/**
  * @styles buttons_raised High Contrast Raised
  *
  * @demo demo/gaiden-css/components/buttons/raised/demo.html
**/

/**
  * @styles buttons_reversed_hc Reversed High Contrast
  *
  * @demo demo/gaiden-css/components/buttons/reversed/hc/demo.html
**/

/**
  * @styles buttons_reversed_outline Reversed Outline
  *
  * @demo demo/gaiden-css/components/buttons/reversed/outline/demo.html
**/

/**
  * @styles buttons_outline Outline
  *
  * @demo demo/gaiden-css/components/buttons/outline/demo.html
**/

/**
  * @styles buttons_outline_light Outline Light
  *
  * @demo demo/gaiden-css/components/buttons/outline/light/demo.html
**/

/**
  * @styles buttons_reversed_raised Reversed Raised
  *
  * @demo demo/gaiden-css/components/buttons/reversed/raised/demo.html
**/

/**
  * @styles buttons_fluid Fluid
  *
  * @demo demo/gaiden-css/components/buttons/fluid/demo.html
**/

/**
  * @styles buttons_greeny Greeny
  *
  * @demo demo/gaiden-css/components/buttons/greeny/default/demo.html
**/

/**
  * @styles buttons_greeny_raised Greeny Raised
  *
  * @demo demo/gaiden-css/components/buttons/greeny/raised/demo.html
**/

/**
  * @styles buttons_full_card Full Card
  *
  * @demo demo/gaiden-css/components/buttons/fullcard/default/demo.html
**/

/**
  * @styles buttons_loading Loading
  *
  * @demo demo/gaiden-css/components/buttons/loading/demo.html
**/

/**
  * @styles buttons_rounded Rounded
  *
  * @demo demo/gaiden-css/components/buttons/rounded/default/demo.html
**/


.btn {
  background-color: transparent;
  border: 0;
  border-radius: $border-radius-button;
  cursor: pointer;
  display: inline-block;
  font-weight: get-weight(bolder);
  letter-spacing: .3px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  transition: border-color .2s ease-in, box-shadow .2s ease-in, background-color .2s ease-in, color .3s ease;

  &__secondary--default {
    border: 2px solid get-color(color-brand-first-extra-dark);
    border-radius: 40px;
    color: get-color(color-brand-first-extra-dark);
    font-size: 12px;
    padding: 10px 24px;
    transition: all .2s linear;

    &:hover {
      background-color: get-color(color-brand-first-extra-dark);
      color: get-color(color-interface-content-light);
    }
  }

  &__primary--default {
    background-color: get-color(color-brand-first-extra-dark);
    border-radius: 40px;
    color: get-color(color-interface-content-light);
    font-size: 12px;
    padding: 11px 24px;
    transition: all .2s linear;
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &--fluid {
    display: block;
    width: 100%;
  }

  &--loading {
    background-color: get-color((color: rastaGray, opacity: .2));
    font-size: 0 !important; //sass-lint:disable-line no-important
    position: relative;
    transition: all .3s ease;

    &::before {
      animation: rotation 1s linear infinite;
      background-color: transparent;
      border-bottom: 3px solid get-color(air);
      border-left: 3px solid get-color(air);
      border-radius: 15px;
      border-right: 3px solid get-color(air);
      border-top: 3px solid transparent;
      box-sizing: border-box;
      content: '';
      height: 20px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform-origin: 0 0;
      width: 20px;
    }
  }

  &--full-card {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border-top: get-border(default);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &--rounded {
    border-radius: 30px;
  }


}
