.card-citation {
  box-shadow: $shadow-bottom-level-1;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  transition: all .2s linear;

  &__header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12px;
    justify-content: flex-start;
    width: 100%;
  }

  &__title {
    display: flex;
    flex-wrap: wrap;
    line-height: $size-line-height-equal;
    margin-bottom: 0;
    width: 100%;

    strong {
      &:nth-child(1) {
        margin-right: 4px;
      }
    }

    small {
      margin-right: 4px;
      margin-top: 0;
    }
  }

  &__text {
    display: block;
  }
}
