.card-review {
  &__title {
    color: get-color(color-brand-first-extra-dark);
    font-size: 14px;
    font-weight: get-weight(normal);
  }

  &__content {
    margin-top: $size-spacing-xxxs;
  }

  &__text {
    color: get-color(blackNeutral, lighter);
    font-size: 14px;
    font-style: italic;
  }

  &__rating {
    margin-top: $size-spacing-xs;

    img {
      height: 12px;
      width: 12px;
    }
  }

  &__receiver {
    margin-bottom: 0;
    margin-top: $size-spacing-xxxs;
  }
}
