.card-profile {
  align-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;

  > div {
    width: 100%;
  }

  &__header {
    padding: 24px 24px 0;
    width: 100%;
  }

  &__title {
    color: get-color(color-brand-first-extra-dark);
    font-size: 14px;
    font-weight: get-weight(bold);
    margin: 0;
  }

  &__rating {
    color: get-color(blackNeutral, lighter);
    font-size: 12px;
    margin-top: 8px;

    img {
      height: 12px;
      width: 12px;
    }
  }

  &__content {
    padding: 16px 24px;
    width: 100%;
  }

  &__text {
    color: get-color(blackNeutral, lighter);
    font-size: 14px;

    &--citation {
      font-style: italic;
    }
  }

  &__highlight {
    background-color: get-color(color-interface-shade-light);
    min-height: 108px;
    padding: 16px 24px;
  }

  &__light-title {
    color: get-color(color-brand-first-extra-dark);
    font-size: 14px;
    font-style: italic;
    font-weight: get-weight(bold);
  }

  &__btn {
    background-color: get-color(color-brand-first-dark);
    border: 0;
    color: get-color(color-brand-first-light);
    font-size: $size-font-xxs;
    font-weight: $font-style-weight-bold;
    margin-bottom: 0;
    padding: $size-spacing-xxs $size-spacing-s;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;

    &:hover {
      background-color: get-color(color-brand-first-medium);
      color: get-color(color-brand-first-light);
    }
  }

  &__footer {
    width: 100%;
  }
}
