/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.footer.css Footer
  *
  * @demo demo/gaiden-css/components/footer/demo.html 500
**/

.footer {
  background-color: get-color(color-interface-shade-light);
  height: auto;
  margin: $size-spacing-xxl 0 0;
  padding: $size-spacing-xl 0 0;

  @include media(normal) {
    margin-top: $size-spacing-xxxl;
    padding: $size-spacing-xxl 0 0;
  }

  &__title {
    display: block;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
  }

  &__block {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: $size-spacing-l;


    &:not(:last-child) {
      @include media(normal) {
        margin-bottom: 0;
      }
    }

    &--download {
      margin-left: auto;
    }

  }

  &__block--row {
    display: flex;
    flex-direction: row;
  }

  &__list {
    font-size: 14px;
    text-align: left;

    &--on-column {
      &[class*='col-'] {
        display: inline-block;
        margin-left: 0;
        text-align: left;

        + & {
          margin-left: auto;
          margin-right: 0;
        }
      }
    }

    &--social {
      display: flex;
      flex-grow: 1;

      .footer__item {
        border-radius: 50%;
        height: 48px;
        margin-left: $size-spacing-xs;
        text-indent: -9999px;
        width: 60px;

        img {
          display: block;
          width: 100%;
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }

    &--app {
      display: flex;
      flex-direction: row;
      flex-grow: 1;

      .footer {
        &__item {
          border-radius: 4px;
          flex-grow: 1;

          a {
            display: block;
          }

          &:last-child {
            margin-left: 5px;

            @include media(normal) {
              margin-left: 0;
              margin-top: get-space(element, small);
            }
          }
        }

        &__image {
          width: 100%;

          @include media(small) {
            max-width: initial;
          }
        }
      }

      @include media(normal) {
        flex: auto;
        flex-direction: column;
      }
    }
  }

  &__institutional {
    border-top: 1px solid get-color(color-interface-shade-dark);
    flex-direction: column;
    margin-top: $size-spacing-l;
    padding: $size-spacing-s $size-spacing-xs;

    .footer__image {
      width: 125px;
    }

    @include media(small) {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      padding: $size-spacing-m 0;
    }
  }

  &__institutional-list {
    display: flex;
    font-size: $size-font-xxs;
    font-weight: $font-style-weight-bold;
    justify-content: space-between;
    line-height: $size-line-height-xxs;
    padding-left: 0;
    padding-right: 0;
    text-align: right;
    text-transform: uppercase;

    a {
      :hover {
        color: $color-interface-content-medium;
        display: block;
      }
    }
  }

  &__item {
    &:not(.footer__item--larger) {
      margin-top: $size-spacing-xxxs;
    }
  }

  &__copyright {
    background-color: get-color(color-interface-shade-medium);
    padding: $size-spacing-xxxs $size-spacing-m;
    text-align: center;
  }
}
