/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.form.css Form
  *
  * ## Form
  * @demo demo/gaiden-css/components/form/demo.html
**/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $color-interface-content-medium;
}

::-moz-placeholder { /* Firefox 19+ */
  color: $color-interface-content-medium;
}

:-ms-input-placeholder { /* IE 10+ */
  color: $color-interface-content-medium;
}

:-moz-placeholder { /* Firefox 18- */
  color: $color-interface-content-medium;
}

%focus-style {
  background-color: get-color(air);
  border: 1px solid get-color(rastaGray);
}

.section-form {
  .widget {
    border: $size-border-width-thick $border-style-default $color-brand-first-extra-dark;
    box-shadow: $shadow-bottom-level-1;
    width: 100%;
    z-index: 102;

    &__title {
      @extend %typography__size-heading--s;
      @extend %typography__color--first-extra-dark;
      border-bottom: 0;
      margin-bottom: $size-spacing-m;

      small {
        @extend %typography__size-subtitle--s;
        @extend %typography__color--content-medium;
        display: block;
      }
    }
  }
}

.form {
  overflow-x: hidden;

  &__envelop {
    background: get-color(color-interface-shade-light);
    padding: $size-spacing-m $size-spacing-m $size-spacing-s;
    width: 100%;
  }

  &__title {
    margin: 0;
    text-align: center;
    text-transform: capitalize;
  }

  &__tie {
    height: 20px;
    margin-top: -1px; //FIREFOX HACK TO OMMIT BLANK 1px line
    width: 100%;

    polygon {
      fill: get-color(color-interface-shade-light);
      stroke: get-color(color-interface-shade-light);
    }
  }

  input {
    padding: $size-spacing-xxxs;
  }

  select {
    height: 45px;
  }


  input,
  select {
    &[disabled] {
      background-color: $color-interface-shade-medium;
      cursor: not-allowed;
      opacity: $opacity-translucent;

      &:hover,
      &:focus {
        border: 1px solid get-color((color: rastaGray, opacity: .2));
      }
    }
  }


  &__container {
    padding: {
      left: 10%;
      right: 10%;
    }
    width: 100%;
  }

  &__field {
    display: block;

    & + & {
      margin-top: $size-spacing-s;
    }

    &--disabled {
      > label,
      > span {
        opacity: $opacity-translucent;
      }

      > label {
        a {
          display: none;
        }
      }
    }
  }

  &__input {
    background-color: get-color(color-interface-shade-light);
    border: 1px solid get-color(color-interface-shade-dark);
    border-radius: $size-border-radius-s;
    color: $color-interface-content-medium;
    display: block;
    font-size: $size-font-xs;
    font-style: italic;
    line-height: $size-line-height-xs;
    padding: $size-spacing-xxs;
    transition: border-color .15s ease-in, background-color .15s ease-in;

    .form__field--fluid & {
      width: 100%;
    }

    &:hover,
    &:focus {
      @extend %focus-style;
      outline: none;
    }

    &--filled {
      background-color: get-color(air);
      border: 1px solid get-color((color: rastaGray, opacity: .1));
      color: $color-interface-content-medium;
      font-style: normal;
    }

    &--invalid {
      &:hover,
      &:focus {
        @extend %focus-style;
      }
    }
  }

  &__text {
    height: auto;
    min-height: 80px;
  }

  &__label {
    color: $color-interface-content-extra-dark;
    display: inline-block;
    font-size: $size-font-xxs;
    font-weight: $font-style-weight-regular;
    line-height: $size-line-height-xxs;
    margin-bottom: $size-spacing-xxxs;
  }

  &__label-link {
    @include clearfix;
    float: right;
    font: {
      size: 13px;
      style: italic;
      weight: get-weight(bold);
    };
    line-height: 1.15;
    margin-left: 10px;
  }

  &__description {
    color: $color-interface-shade-extra-dark;
    font-size: 12px;

    &.form__field {
      margin-top: $size-spacing-xxxs;
    }
  }
}
