.icon {
  align-items: center;
  display: flex;

  &__image {
    margin-right: $size-spacing-xxxs;
    max-width: 16px;
  }

  &--small {
    margin: {
      left: $size-spacing-xxxs;
      right: $size-spacing-xxxs;
    };
    width: 8px;
  }
}
