.icon {
  align-items: center;
  display: flex;

  &__image {
    margin-right: 6px;
    max-width: 16px;
  }

  &--small {
    margin: {
      left: 7px;
      right: 7px;
    };
    width: 8px;
  }
}
