/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.menu.css Menu
  *
**/

/**
  * @styles menu_default Default
  *
  * @demo demo/gaiden-css/components/menu/default/demo.html
**/

/**
  * @styles menu_over Over
  *
  * @demo demo/gaiden-css/components/menu/over/demo.html
**/

.menu {
  background-color: $color-interface-content-light;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  padding: $size-spacing-xxs 0;

  @include media(normal) {
    flex-direction: column;
    padding: $size-spacing-xs 0;
  }

  .no-flexbox & {
    @include clearfix;
  }

  &--centered {
    justify-content: center;
  }

  &--over {
    background-color: $color-interface-content-light;
    box-shadow: 0 2px 4px 0 $color-interface-shade-dark;
    position: relative;
    width: 100%;
    z-index: 10;

    + .page-banner {
      .page-banner__content {
        padding-top: 90px;
      }
    }
  }

  &-icon {
    cursor: pointer;
    height: 28px;
    margin-left: auto;
    padding: $size-spacing-xxxs;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    width: 32px;

    @include media(normal) {
      display: none;
    }

    &__line {
      background-color: $color-brand-first-extra-dark;
      border-radius: 9px;
      display: block;
      height: 2px;
      left: 6px;
      opacity: 1;
      position: absolute;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
      width: 20px;

      &:nth-child(1) {
        top: $size-spacing-xxxs;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: 14px;
      }

      &:nth-child(4) {
        top: 20px;
      }
    }

    &--opened {
      .menu-icon__line {
        &:nth-child(1) {
          left: 50%;
          top: 14px;
          width: 0%;
        }

        &:nth-child(2) {
          transform: rotate(45deg);
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }

        &:nth-child(4) {
          left: 50%;
          top: 14px;
          width: 0%;
        }
      }
    }
  }

  &__content-wrapper {
    justify-content: space-between;
  }

  &__brand {
    justify-content: flex-start;

    .no-flexbox & {
      float: left;
    }

    & + .menu__title {
      display: none;
    }

    @include media(normal) {
      display: flex;
    }
  }

  &__options {
    justify-content: flex-end;

    .no-flexbox & {
      float: right;
    }
  }

  &__link {
    display: inherit;
  }

  &__title {
    color: $color-interface-content-medium;
    font-size: 20px;
    font-weight: get-weight(bolder);
    text-align: left;
  }
}

.nav {
  display: flex;
  left: 0;
  max-height: 0;
  overflow: hidden;
  padding: $size-spacing-xs 0 $size-spacing-xxs;
  position: absolute;
  top: 53px;
  transition: max-height .3s linear;
  width: 100%;
  z-index: 3;

  @include media(normal) {
    align-content: center;
    max-height: 100%;
    padding: 0;
    position: relative;
    top: 0;
  }

  &__wrapper {
    position: relative;
    width: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;

    @include media(normal) {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 0;
      position: inherit;
    }
  }

  &__item {
    font-size: $size-font-xxs;
    opacity: 0;
    text-align: center;
    text-transform: uppercase;
    transform: translateX(-30px);
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    transition-delay: .1s;

    a {
      font-weight: $font-style-weight-bold;

      @include media(normal) {
        margin-left: $size-spacing-s;
      }
    }

    &:first-child {
      transition-delay: .1s;
    }

    &:last-child {
      transition-delay: .3s;
    }

    &:not(:last-child) {
      margin-bottom: $size-spacing-xs;

      @include media(normal) {
        margin-bottom: 0;
      }
    }

    &--wellcome {
      color: $color-interface-content-medium;
      font-weight: $font-style-weight-bold;
    }

    @include media(normal) {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &--opened {
    max-height: 105px;

    .btn {
      background-color: transparent;
      border: 0;
      color: $color-brand-first-extra-dark;
    }

    .nav__wrapper {
      background-color: $color-interface-content-light;
      border-bottom: 1px solid $color-interface-shade-dark;
      min-height: 85px;
    }

    .nav__item {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &--closed {
    transition-duration: .2s;

    .nav__item {
      opacity: 0;
      transform: translateX(30px);
      transition-delay: 0s;

      &:first-child {
        transition-delay: .05s;
      }
    }
  }

  &__btn {
    @include media(normal) {
      background-color: $color-brand-first-extra-dark;
      border-radius: 4px;
      color: $color-interface-content-light;
      cursor: pointer;
      display: inline-block;
      padding: $size-spacing-xxs $size-spacing-s;

      a {
        color: inherit;
      }

      &:hover {
        background-color: $color-brand-first-medium;
        color: $color-interface-content-light;

        a {
          color: inherit;
        }
      }

      &:last-child {
        margin-left: $size-spacing-s;
      }
    }

    &--bordered {
      @include media(normal) {
        background-color: $color-interface-content-light;
        border-radius: 40px;
        box-shadow: inset 0 0 0 2px $color-brand-first-extra-dark;
        color: $color-brand-first-extra-dark;

        &:hover {
          background-color: $color-brand-first-extra-dark;
          color: $color-brand-first-light;
        }
      }
    }

    &--rounded {
      @include media(normal) {
        border-radius: 40px;
      }

      &:hover {
        background-color: $color-brand-first-light;
      }
    }
  }
}
