/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.page-banner.css Page Banner
  *
  * @demo demo/gaiden-css/components/page-banner/demo.html
**/

.page-banner {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;

  &__content {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: $size-spacing-xl 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 2;

    @include media(normal) {
      padding: $size-spacing-xxxl 0;
    }

    [class*='-title'] {
      color: $color-interface-content-light;
    }
  }

  &__picture {
    height: 100%;
    position: absolute;
    width: 100%;

    img {
      height: auto;
    }
  }

  & + .page-banner-over {
    margin-top: -44px;
    position: relative;
  }

  &--over {
    .page-banner__content {
      @include media(medium) {
        padding-bottom: $page-over-medium + px;
      }

      padding-bottom: $page-over-small + px;
    }
  }

  + .page-banner-over {
    @include media(medium) {
      margin-top: - $page-over-medium + px;
    }

    margin-top: - $page-over-small + px;
  }

  .page-title-header {
    color: $color-brand-first-extra-dark;
    font-size: 24px;

    @include media(normal) {
      font-size: 36px;
    }

    small {
      color: $color-interface-content-medium;
      margin-top: $size-spacing-xxs;
    }

  }
}
