/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.pagination.css Pagination
  *
  * @demo demo/gaiden-css/components/pagination/demo.html
  *
  * ## With disabled item
  * @demo demo/gaiden-css/components/pagination/disabled/demo.html
  *
  * ## With active item
  * @demo demo/gaiden-css/components/pagination/active/demo.html
**/

.pagination {
  font-size: 0;
  width: 100%;

  &__item {
    cursor: pointer;
    display: inline-block;
    font-size: initial;

    & + & {
      margin-left: $size-spacing-xxs;
    }

    a {
      background-color: $color-interface-content-light;
      border: solid 1px $color-interface-content-dark;
      border-radius: $size-border-radius-s;
      cursor: inherit;
      display: block;
      font-size: $size-font-xxs;
      font-weight: $font-style-weight-regular;
      line-height: $size-line-height-equal;
      padding: $size-spacing-xxxs;
      transition: background-color .2s, color .2s, border-color .2s;
      width: 100%;
    }

    &-jump {
      border: 0;
      display: inline-block;
      font-size: initial;
      padding: $size-spacing-xxxs;

      &,
      & a {
        cursor: default;
      }
    }

    &--disabled {
      cursor: not-allowed;
      opacity: .3;
    }

    &--active {
      &:not(.pagination__item--disabled) {
        a {
          background-color: $color-brand-first-extra-dark;
          border-color: $color-brand-first-extra-dark;
          color: $color-interface-content-light;
        }
      }
    }

    &:hover {
      &:not(.pagination__item--disabled) {
        a {
          background-color: $color-interface-content-dark;
          color: $color-interface-content-light;
        }
      }
    }
  }
}
