/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.picture.css Picture
  *
**/

/**
  * @styles simple Simple Picture
  *
  * @demo demo/gaiden-css/components/picture/demo.html
  *
**/

/**
  * @styles rounded Rounded
  *
  * @demo demo/gaiden-css/components/picture/rounded.html
**/

/**
  * @styles cover Cover
  * This sample is a image with the full height and centralized image on picture container. This case simulates the `background-size: cover` without use a image as background.
  * @demo demo/gaiden-css/components/picture/cover.html
**/

.picture {
  border-radius: $size-border-radius-s;
  max-width: 100%;

  &__image {
    background-color: $color-interface-content-light;
    display: block;
    max-width: 100%;
  }

  &--rounded {
    overflow: hidden;

    .picture__image {
      background-color: $color-interface-shade-dark;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  &--media {
    margin-right: 10px;
    max-height: 30px;
    max-width: 30px;
    width: 100%;
  }

  &--cover {
    display: block;
    max-height: 100%;
    overflow: hidden;
    position: relative;
    width: auto;

    .picture__image {
      -moz-force-broken-image-icon: 1; //sass-lint:disable-line no-misspelled-properties
      height: auto;
      left: 50%;
      max-width: none;
      min-width: 100%;
      position: relative;
      transform: translateX(-50%);
    }
  }
}
