/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.thumbnail.css Thumbnail
**/

/**
  * @styles action Action
  *
  * @demo demo/gaiden-css/components/thumbnail/action/demo.html
**/

.thumbnail {
  border-bottom-right-radius: $size-border-radius-m;
  border-bottom-left-radius: $size-border-radius-m;
  height: initial;
  overflow: hidden;
  position: relative;
  transition: all .2s ease-in-out;
  will-change: transform;

  &--action {
    box-shadow: $shadow-bottom-level-1;
    display: block;
    max-height: 190px;
    transform: scale(-1);
    width: 98%;

    &:hover {
      box-shadow: $shadow-bottom-level-2;
      transform: translate(0, -5px) scale(-1);
    }
    
    .thumbnail__photo {
      transform: scale(-1);
      
      img {
        height: auto;
        max-height: 100%;
        width: 100%;
      }
    }
    }

  &__button {
    background-color: get-color(color-brand-first-extra-dark);
    color: get-color(color-interface-content-light);
    font-size: $size-font-xxs;
    font-weight: get-weight(font-style-weight-bold);
    padding: $size-spacing-xxs;
    text-align: center;
    text-transform: uppercase;
    transform: scale(-1);
    top: 156px;
    width: 100%;
    z-index: 1;

    &:hover {
      background-color: get-color(color-brand-first-medium);
      color: get-color(color-interface-content-light);
    }
  }

  &__photo {
    border-radius: $size-border-radius-m;
    display: block;
    width: 100%;

    img {
      width: auto;
    }
  }
} 