/**
  * @parent gaiden_css.components
  * @stylesheet gaiden_css.components.thumbnail.css Thumbnail
**/

/**
  * @styles action Action
  *
  * @demo demo/gaiden-css/components/thumbnail/action/demo.html
**/

.thumbnail {
  border-bottom-right-radius: $size-border-radius-s;
  border-bottom-left-radius: $size-border-radius-s;
  height: initial;
  overflow: hidden;
  position: relative;
  
  &__transition {
    transition: transform .2s ease-in-out;
    will-change: transform;
  }

  &__classic {
    border-color: $color-interface-shade-dark;
    font-weight: $font-style-weight-bold;
    line-height: $size-line-height-equal;

    &--small {
      font-size: $size-font-xxs;
      padding: $size-spacing-xxs $size-spacing-s;
    }

    &--default {
      background-color: get-color(color-brand-first-extra-dark);
      color: get-color(color-interface-content-light);

      &:hover {
        background-color: get-color(color-brand-first-medium);
        color: get-color(color-interface-content-light);
      }
    }
  }

  &__button {
    background-color: get-color(color-brand-first-extra-dark);
    color: get-color(color-interface-content-light);
    font-size: $size-font-xxs;
    font-weight: get-weight(font-style-weight-bold);
    padding: $size-spacing-xxs;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 152px;
    width: 100%;
    z-index: 1;

    &:hover {
      background-color: get-color(color-brand-first-medium);
      color: get-color(color-interface-content-light);
    }
  }

  &__photo {
    border-radius: $size-border-radius-s;
    bottom: 30px;
    display: block;
    position: relative;
    width: 100%;

    img {
      border-radius: $size-border-radius-s;
      width: auto;
    }
  }
}

