@import "src/scss/settings/colors";
@import "src/scss/settings/base_font";
@import 'src/scss/tools/mixins/map_deep_get';
@import 'src/scss/tools/mixins/get_color';
@import "src/scss/tools/mixins/font_family";

body {
  padding: 20px;
  &.reversed {
    background-color: get-color(punch);
  }
}

* {
  box-sizing: border-box;
  font-family: font-family();
}

ul.colors,
ul.gradients {
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    width: 31%;
    padding: .75%;

    &::after, &::before {
      width: 100%;
      display: block;
    }

    &::before {
      height: 50px;
      content: "";
      margin: 0 auto 5px;
      border-radius: 4px;
    }
  }
}
