@import 'settings/colors';
@import 'settings/grid';
@import 'settings/buttons';
@import 'settings/base_font';
@import 'settings/footer';
@import 'settings/spaces';
@import 'settings/border';
@import 'tools/mixins/map_deep_get';
@import 'tools/mixins/generate_button_sizes';
@import 'tools/mixins/generate_button_types';
@import 'tools/mixins/get_color';
@import 'tools/mixins/flex';
@import 'tools/mixins/clearfix';
@import 'tools/mixins/grid';
@import 'tools/mixins/linear_gradient';
@import 'tools/mixins/gradient';
@import 'tools/mixins/radial';
@import 'tools/mixins/font_family';
@import 'tools/mixins/media';
@import 'tools/mixins/multiple_gradients';
@import 'generic/reset';
@import 'generic/links';
@import 'generic/heading';
@import 'generic/html';
@import 'generic/body';
@import 'generic/content-centered';
@import 'components/button';
@import 'components/media_box';
@import 'components/picture';
@import 'components/rating';
@import 'components/card';
@import 'components/icon';
@import 'components/hint';
@import 'components/pagination';
@import 'components/page-banner';
@import 'components/brand';
@import 'components/list';
@import 'components/menu';
@import 'components/footer';
@import 'components/thumbnail';
@import 'components/wall';
@import 'components/widget';
@import 'components/dialog';
@import 'components/form';
@import 'components/form/checkbox';
@import 'components/form/radio';
@import 'components/form/message';
@import 'components/form/steps';
@import 'components/form/alert-message';
@import 'components/price-tag';
@import 'components/price-variation';
@import 'components/content-box';

@include generate-grid($defaultBreakpoints);
@include generate-spaces;
