//sass-lint:disable no-duplicate-properties
@mixin backgrounds($backgroundMap: ()) {
  $vendors: (-moz- -webkit- -o- -ms- '');

  @if $backgroundMap {
    @each $vendor in $vendors {
      $bgList: null;

      @each $bg in $backgroundMap {
        $bgList: join($bgList, #{$vendor}linear-gradient($bg), comma);
      };
      background-image: $bgList;
    }
  }
}
