@mixin generate_color_palette_classes($colors) {
  @each $key, $color in $colors {
    $colorHEX: map-get($color, base);

    .#{$key} {
      &::before {
        background-color: $colorHEX;
        border: solid 1px #ccc;
      }

      &::after {
        content: "@#{$key}/#{$colorHEX}";
      }
    }
  }
};
