.form__message {
  display: inline-block;
  font-size: $size-font-xxs;
  font-style: normal;
  font-weight: $font-style-weight-regular;
  line-height: $size-line-height-xxs;
  margin-top: $size-spacing-xxxs;

  &:empty {
    display: none;
  }

  &--invalid {
    color: $color-interface-negative-extra-dark;
  }
}
