.form__steps {
  align-items: center;
  box-shadow: inset 0 1px 0 0 $color-interface-shade-medium;
  color: get-color((color: rastaGray, opacity: .5));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font: {
    size: 12px;
    weight: $font-style-weight-regular;
  }
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;

  &-item {
    background-color: $color-interface-shade-medium;
    border-top: $size-border-width-thin $border-style-default $color-interface-shade-dark;
    color: $color-interface-content-medium;
    flex: 1;
    font-size: $size-font-xxs;
    line-height: $size-line-height-xxs;
    padding: $size-spacing-xxs;
    text-align: center;

    &:nth-of-type(2) {
      @media screen and (min-width: $media-small) {
        flex: 2;
      }
    }

    @media screen and (min-width: 360px) {
      padding: 17px;
    }

    @media screen and (min-width: $media-medium) {
      flex: unset;
      padding: 17px 20px;
    }

    @media screen and (min-width: $media-normal) {
      padding: 17px 36px;
    }

    @media screen and (min-width: $media-large) {
      padding: 17px 48px;
    }

    &--active {
      background-color: $color-interface-content-light;
      color: $color-interface-content-extra-dark;
    }
  }
}
