:root {
  --action-100: #001f2f;
  --action-200: #003f5f;
  --action-300: #195ca9;
  --action-400: #007ebe;
  --action-500: #009ded;
  --action-600: #33b1f1;
  --action-700: #66c4f4;
  --action-800: #7ad6ff;
  --action-900: #e5f7ff;

  --brand-100: #ffd300;
  --brand-200: #ffdd00;
  --brand-300: #ffe300;
  --brand-400: #ffe900;
  --brand-500: #ffea52;
  --brand-600: #ffee75;
  --brand-700: #fff399;
  --brand-800: #fff7ba;
  --brand-900: #fffce6;

  --positive-100: #072012;
  --positive-200: #0f4024;
  --positive-300: #006513;
  --positive-400: #1e8147;
  --positive-500: #25a159;
  --positive-600: #51b47a;
  --positive-700: #7cc79b;
  --positive-800: #a0e9be;
  --positive-900: #eafaf1;

  --shade-100: #0000000;
  --shade-200: #212121;
  --shade-300: #575757;
  --shade-400: #666666;
  --shade-500: #b2b2b2;
  --shade-600: #dbdbdb;
  --shade-700: #f2f2f2;
  --shade-800: #f8f8f8;
  --shade-900: #ffffff;
}
